/* ---------------------------------------------------------

  FONTS

  --------------------------------------------------------- */

/* ---------------------------------------------------------
  ZT Gatha
--------------------------------------------------------- */

/* Webfont: ZTGatha */
@font-face {
  font-family: ZTGatha;
  src:
    url("../fonts/ZT_Gatha/ZTGatha-Bold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/ZT_Gatha/ZTGatha-Bold.woff2")
      format("woff2"),
    /* Modern Browsers */ url("../fonts/ZT_Gatha/ZTGatha-Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */

  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: ZTGatha-BoldAlt */
@font-face {
  font-family: ZTGatha-BoldAlt;
  src:
    url("../fonts/ZT_Gatha/ZTGatha-AltBold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/ZT_Gatha/ZTGatha-AltBold.woff2")
      format("woff2"),
    /* Modern Browsers */ url("../fonts/ZT_Gatha/ZTGatha-AltBold.ttf")
      format("truetype"); /* Safari, Android, iOS */

  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: ZTGatha-SemiBold */
@font-face {
  font-family: ZTGatha-SemiBold;
  src:
    url("../fonts/ZT_Gatha/ZTGatha-SemiBold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/ZT_Gatha/ZTGatha-SemiBold.woff2")
      format("woff2"),
    /* Modern Browsers */ url("../fonts/ZT_Gatha/ZTGatha-SemiBold.ttf")
      format("truetype"); /* Safari, Android, iOS */

  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: ZTGatha-SemiBoldAlt */
@font-face {
  font-family: ZTGatha-SemiBoldAlt;
  src:
    url("../fonts/ZT_Gatha/ZTGatha-AltSemiBold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/ZT_Gatha/ZTGatha-AltSemiBold.woff2")
      format("woff2"),
    /* Modern Browsers */ url("../fonts/ZT_Gatha/ZTGatha-AltSemiBold.ttf")
      format("truetype"); /* Safari, Android, iOS */

  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* ---------------------------------------------------------
  Noto Sans
--------------------------------------------------------- */

/* Webfont: NotoSans-BoldItalic */
@font-face {
  font-family: NotoSans;
  src:
    url("../fonts/Noto_Sans/NotoSans-BoldItalic.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/Noto_Sans/NotoSans-BoldItalic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */

  font-weight: 700;
  font-style: italic;
  text-rendering: optimizeLegibility;
}

/* Webfont: NotoSans-Bold */
@font-face {
  font-family: NotoSans;
  src:
    url("../fonts/Noto_Sans/NotoSans-Bold.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/Noto_Sans/NotoSans-Bold.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */

  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: NotoSans-Italic */
@font-face {
  font-family: NotoSans;
  src:
    url("../fonts/Noto_Sans/NotoSans-Italic.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/Noto_Sans/NotoSans-Italic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */

  font-weight: normal;
  font-style: italic;
  text-rendering: optimizeLegibility;
}

/* Webfont: NotoSans-MediumItalic */
@font-face {
  font-family: NotoSans-Medium;
  src:
    url("../fonts/Noto_Sans/NotoSans-MediumItalic.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/Noto_Sans/NotoSans-MediumItalic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/Noto_Sans/NotoSans-MediumItalic.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */

  font-weight: 500;
  font-style: italic;
  text-rendering: optimizeLegibility;
}

/* Webfont: NotoSans-Medium */
@font-face {
  font-family: NotoSans-Medium;
  src:
    url("../fonts/Noto_Sans/NotoSans-Medium.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/Noto_Sans/NotoSans-Medium.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/Noto_Sans/NotoSans-Medium.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */

  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: NotoSans-Regular */
@font-face {
  font-family: NotoSans;
  src:
    url("../fonts/Noto_Sans/NotoSans-Regular.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/Noto_Sans/NotoSans-Regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */

  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: NotoSans-Light */
@font-face {
  font-family: NotoSans;
  src:
    url("../fonts/Noto_Sans/NotoSans-Light.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/Noto_Sans/NotoSans-Light.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/Noto_Sans/NotoSans-Light.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */

  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Source Code Pro */
@font-face {
  font-family: SourceCodePro;
  src: url("../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf")
    format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */

  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Source Code Pro */
@font-face {
  font-family: SourceCodePro;
  src: url("../fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf")
    format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */

  font-style: italic;
  text-rendering: optimizeLegibility;
}
