/* ---------------------------------------------------------

  COLORS

  --------------------------------------------------------- */

:root {
  /* Drupal brand Colors */
  --drupal-blue: #009cde;
  --drupal-dark-blue: #006aa9;
  --drupal-navy: #12285f;
  --drupal-dark-navy: #091942;
  --drupal-light-blue: #ccedf9;
  --drupal-black: #000;
  --drupal-white: #fff;
  --drupal-purple: #ccbaf4;
  --drupal-yellow: #ffc423;
  --drupal-red: #f46351;
  --drupal-dark-red: #c63c00;
  --drupal-green: #397618;
  --drupal-gray-darkest: #1f2420;
  --drupal-gray-darker: #323946;
  --drupal-gray-dark: #4f5661;
  --drupal-gray-default: #6d7583;
  --drupal-gray-mild: #a2acbe;
  --drupal-gray-milder: #cfd4dd;
  --drupal-gray-mildest: #f8f9fc;
  --drupal-gray-disabled: #e7ebf3;
  /* System/admin colors */
  --color-absolutezero: #003ecc;
  --color-maximumred: #dc2323;
  --color-maximumred-hover: #c61f1f; /* 5% darker than base. */
  --color-maximumred-active: #b01c1c; /* 10% darker than base. */
  --color-focus: var(--drupal-purple);
  --color-white: var(--drupal-white);
  --color-credited-bg: #e1f6d5;
  --color-not-credited-bg: var(--drupal-gray-mildest);
}

/* ---------------------------------------------------------

 GRADIENTS

  --------------------------------------------------------- */
:root {
  --blue-striped-gradient: repeating-linear-gradient(
    45deg,
    rgba(0, 156, 222, 0.5),
    /* Drupal Blue with 50% opacity */ rgba(0, 156, 222, 0.5) 12px,
    /* Drupal Blue with 50% opacity */ rgba(204, 237, 249, 1) 12px,
    /* Drupal Light Blue with full opacity */ rgba(204, 237, 249, 1) 58px
      /* Drupal Light Blue with full opacity */
  );
  --purple-gradient: linear-gradient(
    270deg,
    var(--drupal-purple) -0.5%,
    #22a5e5 100.62%
  );
  --red-yellow-gradient: linear-gradient(
    270deg,
    var(--drupal-red) -0.5%,
    var(--drupal-yellow) 100.62%
  );
}

/* ---------------------------------------------------------

  SPACING

    --------------------------------------------------------- */
:root {
  --spacing-unit: 0.25rem;
  --spacing-01: calc(var(--spacing-unit) * 1);
  --spacing-02: calc(var(--spacing-unit) * 2);
  --spacing-03: calc(var(--spacing-unit) * 3);
  --spacing-04: calc(var(--spacing-unit) * 4);
  --spacing-05: calc(var(--spacing-unit) * 5);
  --spacing-06: calc(var(--spacing-unit) * 6);
  --spacing-07: calc(var(--spacing-unit) * 7);
  --spacing-08: calc(var(--spacing-unit) * 8);
  --spacing-09: calc(var(--spacing-unit) * 9);
  --spacing-10: calc(var(--spacing-unit) * 10);
  --spacing-11: calc(var(--spacing-unit) * 11);
  --spacing-12: calc(var(--spacing-unit) * 12);
  --spacing-13: calc(var(--spacing-unit) * 13);
  --spacing-14: calc(var(--spacing-unit) * 14);
  --spacing-15: calc(var(--spacing-unit) * 15);
  --spacing-16: calc(var(--spacing-unit) * 16);
  --spacing-17: calc(var(--spacing-unit) * 17);
  --spacing-18: calc(var(--spacing-unit) * 18);
  --spacing-19: calc(var(--spacing-unit) * 19);
  --spacing-20: calc(var(--spacing-unit) * 20);
  --spacing-21: calc(var(--spacing-unit) * 21);
  --spacing-22: calc(var(--spacing-unit) * 22);
  --spacing-23: calc(var(--spacing-unit) * 23);
  --spacing-24: calc(var(--spacing-unit) * 24);
  --spacing-25: calc(var(--spacing-unit) * 25);
  --spacing-26: calc(var(--spacing-unit) * 26);
  --spacing-27: calc(var(--spacing-unit) * 27);
  --spacing-28: calc(var(--spacing-unit) * 28);
  --spacing-29: calc(var(--spacing-unit) * 29);
  --spacing-30: calc(var(--spacing-unit) * 30);
  --spacing-31: calc(var(--spacing-unit) * 31);
  --spacing-32: calc(var(--spacing-unit) * 32);
  --spacing-33: calc(var(--spacing-unit) * 33);
  --spacing-34: calc(var(--spacing-unit) * 34);
  --spacing-35: calc(var(--spacing-unit) * 35);
  --spacing-36: calc(var(--spacing-unit) * 36);
  --spacing-37: calc(var(--spacing-unit) * 37);
  --spacing-38: calc(var(--spacing-unit) * 38);
  --spacing-39: calc(var(--spacing-unit) * 39);
  --spacing-40: calc(var(--spacing-unit) * 40);
  --spacing-41: calc(var(--spacing-unit) * 41);
  --spacing-42: calc(var(--spacing-unit) * 42);
  --spacing-43: calc(var(--spacing-unit) * 43);
  --spacing-44: calc(var(--spacing-unit) * 44);
  --spacing-45: calc(var(--spacing-unit) * 45);
  --spacing-46: calc(var(--spacing-unit) * 46);
  --spacing-47: calc(var(--spacing-unit) * 47);
  --spacing-48: calc(var(--spacing-unit) * 48);
  --spacing-49: calc(var(--spacing-unit) * 49);
  --spacing-50: calc(var(--spacing-unit) * 50);
  --spacing-51: calc(var(--spacing-unit) * 51);
  --spacing-52: calc(var(--spacing-unit) * 52);
  --spacing-53: calc(var(--spacing-unit) * 53);
  --spacing-54: calc(var(--spacing-unit) * 54);
  --spacing-55: calc(var(--spacing-unit) * 55);
  --spacing-56: calc(var(--spacing-unit) * 56);
  --spacing-57: calc(var(--spacing-unit) * 57);
  --spacing-58: calc(var(--spacing-unit) * 58);
  --spacing-59: calc(var(--spacing-unit) * 59);
  --spacing-60: calc(var(--spacing-unit) * 60);
  --spacing-61: calc(var(--spacing-unit) * 61);
  --spacing-62: calc(var(--spacing-unit) * 62);
  --spacing-63: calc(var(--spacing-unit) * 63);
  --spacing-64: calc(var(--spacing-unit) * 64);
  /**
   * Spaces. Todo: convert to above spacing and remove.
   */
  --space-xl: 3rem; /* 3 * 16px = 48px */
  --space-l: 1.5rem; /* 1.5 * 16px = 24px */
  --space-m: 1rem; /* 1 * 16px = 16px */
  --space-s: 0.75rem; /* 0.75 * 16px = 12px */
  --space-xs: 0.5rem; /* 0.5 * 16px = 8px */
}

/* Font Family variables */
:root {
  --larger-header: "ZTGatha-Bold", "NotoSans-Bold", system-ui, sans-serif;
  --smaller-header: notosans, system-ui, sans-serif;
  --sans: notosans, system-ui, sans-serif;
  --body: var(--sans);
  --code: sourcecodepro, monospace;
}

/* Font Color Variables */
:root {
  --default-text-color: var(--drupal-navy);
  --default-link-color: var(--drupal-dark-blue);
}

/* Font Size Variables */
:root {
  --default-text-size: 1rem; /* 16px */
  --default-text-size-mobile: 0.875rem; /* 14px */
  --default-text-size-desktop: 1rem; /* 16px */
  --default-text-size-wide: 1.25rem; /* 20px */
  /* from Claro, only used on forms and widgets. */
  --font-size-xl: 2.25rem; /* ~36px */
  --font-size-h1: 2.027rem; /* ~32px */
  --font-size-h2: 1.802rem; /* ~29px */
  --font-size-h3: 1.602rem; /* ~26px */
  --font-size-h4: 1.424rem; /* ~23px */
  --font-size-h5: 1.266rem; /* ~20px */
  --font-size-h6: 1.125rem; /* 18px */
  --font-size-s: 0.889rem; /* ~14px */
  --font-size-xs: 0.79rem; /* ~13px */
  --font-size-xxs: 0.702rem; /* ~11px */
  --font-size-label: var(--font-size-s);
  --font-size-description: var(--font-size-xs);
  --base-border-radius: 2px;
}

/* Grid gutter base variable */
:root {
  --grid-gutter: 1rem;
  --section-margin-mobile: 1rem;
  --section-margin-tablet: 7rem;
  --section-margin-wide: 9.5rem;
}

/*
  * Inputs. Adapted from Claro.
  */
:root {
  --input-fg-color: var(--default-text-color);
  --input-bg-color: var(--drupal-white);
  --input-fg-color--description: var(--drupal-gray-dark);
  --input-fg-color--placeholder: var(--drupal-gray-default);
  --input-border-color: var(--drupal-gray-mild);
  --input--hover-border-color: var(--default-text-color);
  --input--focus-border-color: var(--color-absolutezero);
  --input--error-color: var(--color-maximumred);
  --input--error-border-color: var(--color-maximumred);
  --input--disabled-color: rgba(
    109,
    117,
    131,
    0.6
  ); /* Drupal Default gray with 0.6 opacity. */

  --input--disabled-fg-color: var(--drupal-gray-mild);
  --input--disabled-bg-color: var(--drupal-gray-disabled);
  --input--disabled-border-color: var(--drupal-gray-mild); /* Old silver with 0.5 opacity on white bg. */
  --input--disabled-border-opacity: 0.5;
  --input-border-radius-size: 0.125rem; /* (1/8)em ~ 2px */
  --input-border-size: 1px; /* (1/16)em ~ 1px */
  --input--error-border-size: 2px;
  --input-padding-vertical: calc(var(--space-s) - var(--input-border-size));
  --input-padding-horizontal: calc(var(--space-m) - var(--input-border-size));
  --input-font-size: var(--default-text-size);
  --input-line-height: var(--space-l);
  --input-padding-vertical--small: calc(
    var(--space-xs) - (var(--input-border-size) * 2)
  );
  --input-padding-horizontal--small: calc(
    var(--space-m) - var(--input-border-size)
  );
  --input-font-size--small: var(--font-size-xs);
  --input-line-height--small: 1.3125rem;
  --input--extrasmall-padding-vertical: calc(
    0.15rem - var(--input-border-size)
  );
  --input--extrasmall-padding-horizontal: calc(
    var(--space-xs) - var(--input-border-size)
  );
  --input--extrasmall-font-size: var(--font-size-s);
  --input--extrasmall-line-height: calc(
    var(--space-m) + 0.2rem
  ); /* Font size is too big to use 1rem for extrasmall line-height */

  --input--required-mark-size: 0.4375rem; /* 7px inside the form element label. */
  --input--label-spacing: 1.6875rem; /* 8px with the checkbox width of 19px */
  /**
 * Buttons.
 */
  --button--disabled-bg-color: var(--drupal-gray-mildest);
  --button--disabled-fg-color: var(--drupal-gray-mild);
  --button-fg-color--primary: var(--color-white);
  --button-bg-color--primary: var(--color-absolutezero);
  --button-fg-color--danger: var(--color-white);
  --button-bg-color--danger: var(--color-maximumred);
  --button--hover-bg-color--danger: var(--color-maximumred-hover);
  --button--active-bg-color--danger: var(--color-maximumred-active);
  --dropbutton-widget-z-index: 100;
  /**
 * jQuery.UI dialog.
 */
  --jui-dialog-title-color: var(--drupal-white);
  --jui-dialog-title-bg-color: var(--default-text-color);
  --jui-dialog-title-font-size: var(--font-size-h4);
  --jui-dialog-close-button-size: calc(var(--space-m) * 2);
  --jui-dialog-close-button-border-radius: 50%;
  --jui-dialog-close-button-reserved-space: calc(var(--space-m) * 4);
  --jui-dialog-off-canvas-close-button-reserved-space: calc(var(--space-m) * 3);
  --jui-dialog-border-radius: 0.25rem;
  --jui-dialog-box-shadow: 0 0 var(--space-m) calc(var(--space-m) / -4)
    var(--color-text);
  --jui-dialog--focus-outline: 2px dotted transparent;
  --jui-dialog--focus-box-shadow: 0 0 0 0.1875rem var(--color-focus);
  --jui-dialog-z-index: 1260;
  --jui-dialog-off-canvas-z-index: 501;
  /**
   * jQuery.UI dropdown.
   */
  --jui-dropdown-fg-color: var(--drupal-gray-dark);
  --jui-dropdown-bg-color: var(--drupal-white);
  --jui-dropdown--active-fg-color: var(--drupal-white);
  --jui-dropdown--active-bg-color: var(--drupal-blue);
  --jui-dropdown-border-color: rgba(
    216,
    217,
    224,
    0.8
  ); /* Light gray with 0.8 opacity. */

  --jui-dropdown-shadow-color: rgba(
    34,
    35,
    48,
    0.1
  ); /* Text color with 0.1 opacity. */
  /*
   * Details.
   */
  --details-border-color: var(--drupal-gray-mild);
  --details-summary-shadow-color: var(--color-focus);
  --details-summary-focus-border-size: var(--focus-border-size);
  --details-desktop-wrapper-padding-start: calc(
    var(--space-m) + var(--space-s) + var(--space-xs)
  );
  --details-box-shadow: 0 2px 0.25rem rgba(0, 0, 0, 0.1);
  --details-border-size: 1px;
  --details-border-size-radius: 2px;
  --details-accordion-border-size-radius: var(--base-border-radius);
  --details-spread-box-shadow-radius: 2px;
  --details-bg-color-transition-duration: 0.12s;
  --details-box-shadow-transition-duration: 0.2s;
  --details-transform-transition-duration: 0.12s;
  --details-line-height: 1.295rem;
  /**
     * Vertical Tabs.
     *
     * These are shared between the vertical tabs and media library.
     * @see ../components/vertical-tabs.pcss.css
     * @see ../theme/media-library.pcss.css
     */
  --vertical-tabs-margin-vertical: var(--space-s);
  --vertical-tabs-border-radius: var(--details-accordion-border-size-radius);
  --vertical-tabs-shadow: var(--details-box-shadow);
  --vertical-tabs-border-color: var(--details-border-color);
  --vertical-tabs-border-size: 1px;
  --vertical-tabs-border: var(--vertical-tabs-border-size) solid
    var(--vertical-tabs-border-color);
  --vertical-tabs-menu-item-shadow-extraspace: 0.5rem;
  --vertical-tabs-menu-item--top-margin: calc(
    var(--vertical-tabs-menu-item-shadow-extraspace) * -2
  );
  --vertical-tabs-menu-item--right-margin: calc(
    var(--vertical-tabs-border-size) * -1
  );
  --vertical-tabs-menu-item--bottom-margin: calc(
    var(--vertical-tabs-menu-item-shadow-extraspace) * -1
  );
  --vertical-tabs-menu-item--left-margin: calc(
    var(--vertical-tabs-menu-item-shadow-extraspace) * -1
  );
  --vertical-tabs-menu-separator-color: var(--color-gray-200);
  --vertical-tabs-menu-separator-size: 1px;
  --vertical-tabs-menu-width: 20em;
  --vertical-tabs-pane-width: calc(100% - var(--vertical-tabs-menu-width));
  --vertical-tabs-menu-link-focus-border-size: var(
    --details-summary-focus-border-size
  );
  --vertical-tabs-menu-link--active-border-size: 0.25rem;
  --vertical-tabs-menu-link--active-border-color: var(--color-absolutezero);
  --vertical-tabs-menu--z-index: 0;
}
