body {
  color: $body-text;
  background-color: $white;
  display: flex;
  flex-direction: column;
  font-family: 'NotoSans', system-ui, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.384615em; // 13px x 1.384615 = 18px
  min-height: 100vh;
  word-wrap: break-word;
}

caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: inherit;
  line-height: 1.384615em; // 13px x 1.384615 = 18px
}

[dir=rtl] th,
[dir=rtl] td {
  text-align: right;
}

input, textarea {
  font-size: 1em;
}

h1, h2, h3 {
  font-family: 'ZTGatha', 'NotoSans', system-ui, sans-serif;
  font-weight: bold;
}

h4, h5, h6, button {
  font-weight: bold;
}

h1,
.h1 {
  color: $new-dk-blue;
  font-size: 2.5em;
  line-height: (2.75em / 2.5);
  margin: .825em 0;
}

h2, .h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}
h3.top { // For the top of columns
  margin-top: 0;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: 1em; // 1 * 13  = 13
  line-height: 1.385em;
  font-weight: bold;
  margin: 0.5em 0 0.166667em;
}

h5,
.h5,
h6,
.h6 {
  color: $new-dk-gray;
}

p {
  margin-bottom: 1.385em;
}

a,
a:visited,
a:active,
details > summary {
  color: $new-blue;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $new-blue;
  text-decoration: underline;
}

a.tabledrag-handle .handle {
  height: 2em;
  width: 2em;
}

code,
pre {
  @include monospace-font;
  white-space: pre-wrap;
}

code {
  font-size: (14em / 16);
}

[dir=rtl] code,
[dir=rtl] pre {
  text-align: left;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

iframe,
video {
  max-width: 100%;
}

blockquote {
  margin: 1.384em 40px 1.384em 20px;
  padding-left: 30px;

  &:before {
    color: $new-blue;
    content: '“';
    float: left;
    font-size: 3em;
    margin: .2em 0 0 -.6em;
  }
}

q {
  quotes: "“" "”" "‘" "’";
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

acronym {
  border-bottom: 1px dotted $new-dk-gray;
}

sup {
  font-size: 0.769em; // * 13 = 10pt
  line-height: 0;
  vertical-align: super;
}
sub {
  font-size: 0.923em; // * 13 = 12pt
  line-height: 0;
  vertical-align: sub;
}

small {
  font-size: (13em / 16);
}

// Prevent hiding content via multiple nested tags
sup sup sup, sub sub sub, small small small {
  font-size: 9px;
  position: relative;
  top: 0;
  bottom: 0;
  vertical-align: baseline
}

hr {
  border: 0;
  border-top: 1px solid $new-gray;
  margin: 1em 0;
}

dl {
  margin-bottom: 0.692em;
}
dt {
  font-weight: bold;
  margin: 0.692em 0 0;
}

dl.documentation {
  dt {
    font-size: 1.23076em; // 1.23076 * 13 = 16px
    margin-top: 0.563em;
  }
  dd {
    padding-left: 0;
  }
}

fieldset {
  border: 1px solid $new-gray;
  padding: 0.692em;
  margin: 0 0 1.384em 0;
  legend {
    padding: 0 0.25em;
  }
  // The collapsed fieldsets have a set height, reset it so it can be styled.
  html.js &.collapsed {
    height: auto;
  }
  // Tables inside fieldsets should have full width (for aesthetics).
  table:not(.sticky-headers) {
    width: 100%;
  }
  // General site-wide fieldset styling, not including specialized types.
  &:not(.filter-wrapper):not(.vertical-tabs-pane) {
    background: $new-lt-gray;
    border: none;
    // Make legends and their links fully clickable and adjust the collapsed or
    // expanded icon to match new positions.
    legend {
      padding: 0;
      margin-bottom: .692em;
      float: left;
      // Make sure the next sibling clears the legend's floats.
      + * {
        clear: both;
      }
    }
    html.js &.collapsible {
      legend {
        width: 100%;
      }
      .fieldset-legend {
        background-position: 10px 60%;
        margin: -0.692em;
        padding: 0;
      }
      &.collapsed {
        padding-bottom: 0;
        .fieldset-legend {
          background-position: 10px 50%;
        }
      }
      .fieldset-title {
        display: inline-block;
        padding: .692em .692em .692em 1.75em;
        width: 100%;
      }
    }
    // Normal fieldsets do not need a summary (which affects styling).
    // These are only for vertical tabs.
    .summary {
      display: none;
    }
  }

  // Adjust core filter module's styling on text formats for aesthetics.
  &.filter-wrapper {
    border-color: $new-lt-gray;
    padding: 0.692em;

    legend, fieldset.vertical-tabs-pane & legend {
      // The .vertical-tabs-pane selector overrides a core style.
      display: none;
    }

    // !important needed here to override JS collapsed element attributes.
    .fieldset-wrapper {
      display: block !important;
    }
    // Reset borders.
    html.js &.collapsed {
      border-width: 1px;
      border-top: 0;
    }
    .form-item {
      padding: 0;
    }
  }
  .filter-guidelines {
    display: none;
  }
  .filter-help {
    margin: 0;
    padding: .1em 0;
  }
}

#skip-link {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1500;

  a {
    background: $new-dk-blue;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .4);
    color: $white;
    padding: 3px 20px 8px;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
  }
}
