#aside,
#sidebar-first {
  .block {
    background: $new-lt-gray;
  }
  .block-inner {
    padding: 1em;
  }
}

.block-aggregator {
  .item-list {
    background: $white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid $new-gray;

    li {
      border-bottom: 1px solid $new-gray;
      padding-bottom: 10px;

      &.last {
        border-bottom: none;
        padding-bottom: 0px;
      }
    }
  }
}
