// These styles are for making things in body look nice.
// Initially for featured showcase case studies.
blockquote.big {
  @include pad(1,1);

  background: $new-dk-gray;
  color: $white;
  font-size: 2em;
  font-style: italic;
  line-height: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  word-wrap: normal;

  p:last-child {
    margin: 0;
  }

  cite {
    display: block;
    font-size: .75em;
    line-height: 2em;

    &::before {
      content: '— ';
    }
  }
}

.big-stats {
  align-content: flex-start;
  align-items: center;
  background: $new-dk-gray;
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;
  padding: 1rem;

  p {
    color: $white;
    font-size: 3em;
    font-style: italic;
    line-height: 2.5rem;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    width: 16rem;

    strong {
      display: block;
      font-size: 5rem;
      padding-bottom: 1rem;
    }
  }
}
