.node-teaser {
  margin-bottom: 1.385em; // * 13 = 18px
}

#content .node-sticky {
  background-color: $new-lt-gray;
  padding: 10px;
}
#content .node-sticky h2.node-title {
  margin-top: 0;
}

#content .submitted,
#content .modified,
#aggregator .feed-item-meta,
#content .comment .links {
  @include smaller;
  margin-bottom: 0.75em;
}

// Submitted time on nodes and comments
.submitted time {
  font-style: italic;
}

body.page-node #content .tabs ul.tabs li {
  float: left;
  display: block;
  font-size: 0.92307em; // 0.92307 * 13px = 12px
  margin: 0 5px;
  padding: 1px 4px;
  text-decoration: none;
}
body.page-node #content .tabs ul.tabs li.active {
  display: none;
}

.feed-source,
#content .node-footer,
#aggregator .feed-item-categories,
.node .support,
#block-drupalorg-handbook-license {
  @include smaller;
}

.cke_editable {
  padding: 1em;
}

div.codeblock, pre.codeblock,
pre.literallayout, pre.screen, pre.programlisting, // In AsciiDoc imports.
pre[class*="language-"], pre.cke_widget_element {
  background: $new-lt-gray;
  border: none;
  border-radius: .25em;
  color: $new-dk-gray;
  margin-bottom: 1em;
  padding: .25em .5em;
}

// Inline code.
:not(pre) > code[class*="language-"] {
  background: $new-lt-gray;
  padding: .25em;
  border-radius: .25em;
}

// Dots between links at the bottom of book, forum nodes
.node-footer .links li + li:before {
  content: " ⋅ ";
}

// Node revisions table
.revision-log {
  @include force-wrap;
}
