// Keep form elements on the baseline grid.
input[type="checkbox"],
input[type="radio"] {
  margin: 0 0.5ex;
}

.form-item {
  margin-top: 0; // Reset core style.
}

// Regular spacing between elements.
.form-item,
.form-wrapper,
.form-item-title,
.text-format-wrapper {
  margin-bottom: (9em / 13);
  // No spacing at the bottom of containers, like fieldsets.
  &:last-child {
    margin-bottom: 0;
  }
}
.filter-wrapper {
  margin-bottom: 0;
}
.text-format-wrapper .description {
  margin: 0;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0.25em 0;
}
.form-item {
  label {
    font-weight: bold;
    &.option {
      font-weight: normal;
    }
  }
}

.fieldset-description,
.description {
  color: $new-dk-gray;
  font-size: 0.8125em;
}

.form-type-radio, .form-type-checkbox {
  // Refine core style, no margin for inline descriptions.
  span.description {
    margin-left: 0;
  }
}

input, textarea, select {
  margin: 0;
  // Limit width to inside parent containers.
  max-width: 100%;
}

// Make text inputs a little more aesthetically pleasing.
.form-text,
.form-textarea {
  border: 1px solid $new-gray;
  padding: 5px;
}
// Adjust autocomplete icon to match new positions.
html.js input.form-autocomplete {
  background-position: 99% 6px;
  &.throbbing {
    background-position: 99% -14px;
  }
}
#autocomplete + .form-autocomplete {
  // Position above #autocomplete shadow.
  position: relative;
  z-index: 100;
}

// link button (green button)
a.link-button,
input[type="submit"] {
  @include large-button;
  display: inline-block;
  padding: 0 1em;
  overflow: hidden;
  text-align: center;
}

input[type="submit"] {
  margin-right: 0.615384em; // For multiple buttons, and following text.
  -webkit-appearance: none; // iOS Safari reset.

  &[disabled="disabled"] {
    &, &:hover, &:focus {
      background: $new-gray;
      border-color: $new-gray;
      cursor: not-allowed;
    }
  }
}

input[type="submit"],
details.button > summary {
  font-size: 0.92307em;  // 1 * 0.92307 = 12px
  padding: 0 1em;
  line-height: 2.008em; // 24px tall, baselines aligned with following text.
}

details {
  > summary {
    &::-webkit-details-marker {
      display: none; // Safari reset.
    }

    &:hover, &:focus {
      cursor: pointer;
    }
  }
}

details.button {
  display: inline-block;

  > summary {
    color: $white;
    background: $new-green;
    border: 2px solid $new-green;
    display: inline-block;

    &::after {
      content: ' ▾';
    }

    &:hover, &:focus {
      background: $new-dk-green;
      border-color: $new-dk-green;
    }

    + * {
      margin-top: .5em;
    }
  }
}

.link-button {
  line-height: 36px;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

button {
  background: $new-green;
  border: 2px solid $new-green;
  color: $white;
  font: inherit;
  font-size: 1em;
  margin: .5em .5em 0 0;
  padding: .1em .5em;

  // Standardize focus styling, do not rely on color.
  &::-moz-focus-inner {
    border: none;
  }
  &:focus {
    outline: 2px solid darken($new-gray, 30%);
    outline-offset: 2px;
  }
  &:hover, &:focus {
    background: $new-dk-green;
    border-color: $new-dk-green;
    cursor: pointer;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

// Make buttons less loud inside fieldsets & field collections.
fieldset, .field-widget-field-collection-embed {
  a.link-button,
  input[type="submit"],
  button {
    background: $new-dk-gray;
    border: 2px solid $new-dk-gray;
  }
}

// File upload fields
.form-managed-file .form-file {
  margin-right: 1em;
}

// Changed draggable rows (usually constains <span class="warning">)
tr.odd, tr.even {
  &.drag-previous {
    background: $new-lt-yellow;
  }
}

form .field-multiple-table td.field-multiple-drag {
  width: 40px;
}

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: 0;
}

tr.draggable span.warning {
  margin-left: 0;
}

.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 0.692em 1em;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.4em;
}

// Improve form element usability on narrow devices.
@include breakpoint(max-width $small) {
  input[type="submit"] + input[type="submit"]  {
    margin-left: 0;
  }
  input.form-autocomplete,
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  textarea.form-textarea {
    width: 100%;
    font-size: 1.2em;
    line-height: 1em;
  }
  .form-select {
    width: 100%;
  }
  .form-actions input,
  .form-wrapper input[type="submit"],
  .views-exposed-form .views-exposed-widget .form-submit {
    float: none;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    width: 100%;
    font-size: 1.2em;
  }
  .exposed-filters .filters,
  .exposed-filters .form-item label,
  .exposed-filters .form-select {
    float: none;
    margin-bottom: 2px;
    width: 100%;
  }
  fieldset .fieldset-legend {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .views-exposed-form .views-exposed-widget {
    float: none;
  }
}

#aside .views-exposed-form .views-exposed-widget:not(.views-submit-button) {
  float: none;
}

// User profile edit form, /user/N/edit
#user-profile-form {
  // First and last name in 1 row.
  .group-name {
    @include clearfix;
    .field-name-field-first-name {
      float: left;
      margin-right: 1em;
    }
  }

  .group-name,
  .field-name-field-organizations {
    .form-type-textfield input {
      width: 20em; // Override core's 100%
    }
  }
}
