.drupalorg-inline-collapsible {
  .collapsed {
    @include clearfix;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .see-more {
    background: transparent;
    border: none;
    color: $new-blue;
    display: block;
    margin: .25em 0 0 0;
    padding: 0;
    text-align: right;
    width: 100%;
  }
}

.merge-request-note {
  & > .collapsed {
    display: block;
    max-height: (18em / 13 * 3); // 3× line height
    position: relative;

    &::after {
      background: linear-gradient(transparent, #fff);
      content: ' ';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .see-more {
    text-align: left;
    padding-bottom: 1em;
  }
}
