// Drupal resets.
ul.primary,
ul.primary li,
ul.primary li.active,
ul.secondary,
ul.secondary li,
ul.secondary li.active {
  display: inline;
}

ul.menu,
ul.menu li,
ul.primary,
ul.primary li,
ul.primary li a,
ul.primary li.active a,
ul.secondary,
ul.secondary li,
ul.secondary li a,
ul.secondary li.active,
ul.secondary li.active a {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.item-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  list-style-position: inherit;
  list-style-type: none;
}

.block,
#content .view-related-project-releases,
#content .top-right-content,
#content .bottom-right-content,
[dir=rtl] #content .top-right-content,
[dir=rtl] #content .bottom-right-content {
  ul {
    margin: 0;
    padding: 0;
  }
}

.block-book, .block-menu {
  ul.menu {
    padding: 0 0 0.25em 1em;
  }
}

#content ul, .cke_editable ul,
ol,
dd {
  margin-bottom: 0.692em;
  padding-left: 2em; // @todo: List items align, but bullets and numbers do not
}

[dir=rtl] #content ul,
[dir=rtl] .cke_editable ul,
[dir=rtl] ol,
[dir=rtl] dd {
  padding-left: 0;
  padding-right: 2em;
}
ol {
  list-style: decimal outside;
  &.upper-alpha {
    list-style-type: upper-alpha;
  }
}
#aside,
#sidebar-first {
  .block ol {
    list-style: none;
    padding-left: 0;
  }
}
.profile .item-list li,
#aside .block .item-list li,
#aside .block .links li,
#sidebar-first .block .item-list li,
#sidebar-first .block .links li,
#homebox .block .menu li,
#homebox .block .item-list li {
  margin: 0 0 0.6em 0;
  padding: 0;
  list-style: none;
}

#content .profile .item-list ul,
#homebox ul,
#homebox ol,
#content .vertical-tabs-list {
  margin-bottom: 0;
  padding-left: 0;
}

#content ul, .cke_editable ul {
  list-style-type: disc;
}

#content .item-list ul.flat,
#content .item-list ul.links,
#content .item-list ul.flat li,
#content .item-list ul.links li,
#content ul.flat,
#content ul.links,
#content ul.flat li,
#content ul.links li,
.vertical-tab-button {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
  padding-left: 0;
}

.flat li {
  margin-bottom: .6em;
}

// Ensure ordered lists of code have separation for legibility.
li:not(:first-child) > .codeblock:first-child {
  margin-top: 1.5em;
}
