// Messages
.help,
div.messages,
div.warning,
div.error,
#block-system-help,
.nudge {
  border: 0;
  color: $body-text;
  min-height: 1em; // prevents divs from cutting off the icon (rare)
  padding: 1em 1em 1em 3.5em;

  a {
    text-decoration: underline;
  }
}

#content div.messages ul {
  margin: 0; // Override core & list style.
}

.help,
#block-system-help,
.messages.status,
div.warning,
div.error {
  overflow: hidden;
  position: relative;

  &::before {
    border-radius: 50%;
    color: $white;
    height: 2em;
    left: .75em;
    line-height: 2em;
    position: absolute;
    text-align: center;
    top: .75em;
    width: 2em;
  }
}

// Help messages
.help,
#block-system-help {
  background: $new-lt-blue;
  margin-bottom: 1em;

  &::before {
    background: $new-blue;
    content: '?';
    font-weight: bold;
  }
}

div.more-help-link {
  margin-bottom: .5em;
}

.messages.status {
  background: $messages-status;

  &::before {
    background: $new-dk-green;
    content: '✔';
  }
}

div.warning {
  background: $messages-warning;

  &::before {
    background: $new-orange;
    content: '!';
    font-weight: bold;
  }
}

div.error {
  background: $messages-error;

  &::before {
    background: $strong-red;
    content: '✘';
  }
}

// Asterisk
span.warning {
  color: $asterisk-warning; // @todo: standardize color
  margin-left: .5em;
}

div.warning span.warning {
  display: none; // hide asterisk inside warning div (redundant)
}

.deprecated,
.incomplete,
.out-of-date {
  background: $new-lt-yellow;
  border: 2px solid $new-yellow;
  border-left-width: 1em;
  padding: .8em 1em;
}

.click-to-tweet-box {
  border: 2px dashed $new-green;
  padding: .8em 1em;
  margin-bottom: 1em;

  p:last-child {
    text-align: right;
  }

  @include breakpoint($medium) {
    @include squish(1, 1, 8);
  }
}

.note, .node .field-name-field-replaced-by {
  background: $new-lt-gray;
  border-left: .5em solid $new-gray;
  margin-bottom: (18em / 13);
  padding: 1em;
}

.note-tip {
  background: $new-lt-gray;
  margin-bottom: (18em / 13);
  min-height: 4em;
  padding: 1em 1em 1em 4em;
  position: relative;

  &:before {
    background: url(../images/icon-w-bulb.svg) no-repeat center center / 2.25em $new-blue;
    border-radius: 10em;
    content: ' ';
    position: absolute;
    top: .5em;
    left: .5em;
    width: 3em;
    height: 3em;
  }
}

.note-warning {
  background: url(../images/bg-gray-blueprint.png) 3em 0 $new-lt-gray;
  border-right: 2px solid $new-gray;
  border-bottom: 2px solid $new-gray;
  margin-bottom: (18em / 13);
  padding: 1em 1em 1em 4em;
  position: relative;

  &:before {
    content: ' ';
    background: $new-orange;
    background-image: repeating-linear-gradient(-25deg, $new-orange, $new-orange 1em, $new-lt-orange 1em, $new-lt-orange 2em);
    position: absolute;
    top: 0;
    left: 0;
    bottom: -2px;
    width: 3em;
  }
}

.note-version {
  background: url(../images/bg-white-blueprint.png);
  border-right: 2px solid $new-lt-gray;
  margin-bottom: (18em / 13);
  padding: 1em 1em (1em + .5) 4em;
  position: relative;

  > h4:first-child {
    background: $new-blue;
    color: $white;
    line-height: 2.5em;
    margin: -1em calc(-1em - 2px) 1em -4em;
    padding: 0 1em;
  }

  &:after {
    content: ' ';
    background: $new-blue;
    position: absolute;
    left: 0;
    right: -2px;
    bottom: 0;
    height: .5em;
  }
}

.nudge {
  background: $messages-status url(../images/icon-dk-blue-wave.svg) .5em .5em/2.5em no-repeat;
  margin-bottom: (18em / 13);

  a, a:visited {
    color: $new-dk-blue;
  }
}

.click-to-tweet-box,
.help, #block-system-help,
.note,
.node .field-name-field-replaced-by,
.note-tip,
.note-warning,
.note-version {
  display: flex; // Use available horizontal space, do not underlay interfering floats.
  flex-direction: column;
}

.click-to-tweet-box,
.help, #block-system-help,
.messages,
.note,
.node .field-name-field-replaced-by,
.note-tip,
.note-warning,
.note-version {
  p:last-child {
    margin-bottom: 0;
  }
}

#drupalorg-crosssite-gdpr {
  background: $new-dk-blue;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2);
  color: $white;
  padding: 1em;
  text-align: center;
  z-index: 1000;

  a, a:visited, a:active {
    color: $new-lt-blue;
  }
}

#drupalorg-crosssite-gdpr-edit {
  background: $new-lt-gray;
  padding: 1em;
}
