// Main top navigation
.region-navigation {
  display: flex;
}

#block-system-main-menu {
  flex-grow: 1;
}

#nav-header {
  background: $new-blue;
  @include clearfix;
  font-size: 0.95em;
  min-height: (18em / 15); // 18px, minimum height when links not present.
  overflow: visible;

  ul {
    padding: 0;
  }

  a {
    color: $white;
    display: block;
    margin: 0.333333rem 0;
    padding: 1.2rem .625em;
  }

  ul li {
    list-style-image: none;
    list-style-type: none;
  }

  // Search form.
  input {
    font-size: 1em;
  }

  .block-search {
    float: right;
    line-height: 4.5em;
    position: relative;
    z-index: 1;

    .form-submit {
      margin: 0.333333em 0.75em;
      width: 32px;
      vertical-align: middle;
    }

    ::placeholder {
      color: $new-dk-gray;
      opacity: 1; // Accessibility fix.
    }
    :-ms-input-placeholder {
      color: $new-dk-gray;
    }
  }

  .form-item-search-block-form {
    display: inline-block;
    width: 0;
    position: absolute;
    right: 100%;
  }

  input[type="text"] {
    background: $new-lt-blue;
    border: none;
    border-radius: 3px;
    display: none;
    outline: 0;
    padding: .5em .75em;
    width: 100%;
  }

  &.search-expanded {
    #block-system-main-menu,
    .menu-nav {
      filter: blur(3px);
      opacity: .2;
      transition: all .3s;
    }

    .form-item-search-block-form {
      width: 15em;
      transition: width .3s;
      @include breakpoint (0 $small) {
        max-width: 50vw;
      }
    }

    @media screen and (prefers-reduced-motion: reduce) {
      #block-system-main-menu,
      .menu-nav,
      .form-item-search-block-form {
        transition: unset;
      }
    }

    input[type="text"] {
      display: inline;
    }
  }

  a[title='Try Drupal'] {
    background: $new-green;
    display: inline-block;
  }

  @include breakpoint($extra-large) {
    a:hover,
    a:focus,
    .active-trail a {
      color: $new-lt-blue;
      text-decoration: none;

      &[title='Try Drupal'] {
        color: $white;
      }
    }

    a[title='Try Drupal'] {
      margin: 1.033333rem .5rem;
      padding: .5rem .5em;
    }
  }
}

@include breakpoint($extra-large) {
  #block-system-main-menu {
    ul li {
      float: left;
      margin: 0;
      padding: 0;
    }

    // Drupal.org home
    .first a[href*="home"] {
      background: url(../images/icon-w-drupal.svg) transparent no-repeat center center / contain;
      display: inline-block;
      margin-right: .5em;
      width: 38px;
      text-indent: -9999px;
    }

    li {
      > div.menu-block {
        ul {
          display: none;
          position: absolute;
          z-index: 400;
          background: $white;

          a {
            color: $new-blue;
            margin: 0;
            width: 11em;

            &:hover,
            &:focus {
              background: $new-lt-gray;
            }
          }
        }
      }
    }

    .expanded {
      &:hover,
      &:focus,
      &.menu-expanded {
        background: $white;

        > a {
          background: $white;
          color: $black;
        }

        > div.menu-block ul {
          display: flex;
          flex-direction: column;
          box-shadow: 0 4px 4px rgba(0, 0, 0, .4);
        }
      }
    }
  }
}

#block-system-user-menu {
  position: relative;
  width: 60px;

  .button {
    // Open menu link.
    > a {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      width: 100%;
    }

    // User icon.
    img {
      max-width: 40px;
      max-height: 40px;
    }

    ul {
      background-color: $white;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 6;
      display: none;
      a {
        color: $new-blue;
        margin: 0;
        width: 11em;
        &:hover,
        &:focus {
          background-color: $new-lt-gray;
        }
      }
    }

    &:hover,
    &:focus,
    &.menu-expanded {
      > a {
        background: $white;
      }

      &.default {
        > a {
          background: url(../images/icon-blue-user.svg) $white no-repeat center center / 40px 40px;
        }
        img {
          width: 0;
        }
      }

      ul {
        box-shadow: 0 4px 4px rgba(0, 0, 0, .4);
        display: block;
      }
    }
  }

  .person img {
    border-radius: 20px;
    border: 2px solid white;
    background: white;
  }
}

#recent-posts .views-row,
.pane-og-menu-og-single-menu-block ul.menu li {
  margin-bottom: .5em;

  &:last-child {
    margin-bottom: 0;
  }
}

// Section menus & navigation between documentation sections.
.pane-og-menu-og-single-menu-block,
.node-type-section .documentation-section-menu,
.node-type-page .documentation-section-menu,
#on-this-page {
  background: $new-lt-gray;
  margin-bottom: (18em/13);
}

#content .pane-og-menu-og-single-menu-block {
  // No bullets for top-level menu.
  .pane-content > .menu {
    padding-left: 0;
    > li {
      list-style: none;
    }
  }
}
