#block-system-main-menu .close-btn {
  display: none;
  background: url("../images/off-canvas/close-btn.svg") left center/30px 30px no-repeat $new-blue;
  outline: none;
  overflow: hidden;
  text-indent: 30px;
  position: absolute;
  top: 0;
  left: 1em;
  width: 30px;
  height: 4em;
  white-space: nowrap;

  &:focus,
  &:hover {
    opacity: 0.7;
  }
}

@include breakpoint(max-width $extra-large) {
  #block-system-user-menu {
    .button {
      height: 4.8em;

      > a {
        padding: 0;
      }
    }
    .menu-block {
      position: relative;
      z-index: 1;
    }
  }

  .nav-btn {
    display: block;
    width: 4em;
    height: 4em;
    padding: .6em 1.4em 1em 0;
    outline: none;
    margin: 0;
    z-index: 10;
    opacity: 1;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  #block-system-main-menu {
    background: $new-blue;
    font-size: 1.2em;
    overflow: hidden;
    padding-top: 4em;
    z-index: 200;

    .menu-block {
      z-index: 2;
      padding: 0;
      position: relative;
    }

    ul {
      @include clearfix;
      display: block;
      margin: 0;
    }

    li {
      border-top: 1px solid rgba(255,255,255, 0.1);
      display: block;
      padding: 0 1em;
      position: relative;

      a {
        line-height: 1em;
        outline: none;
        padding: 1em;

        &:hover {
          color: $new-lt-gray;
        }
      }

      // Submenu
      .menu {
        height: 100%; // Hide close animation.
        margin-left: 1em;
        position: absolute; // No empty space before expanding.
        transform: translate3d(100%, 0, 0);
        transition: all .3s ease-in-out;
      }

      &.menu-expanded .menu {
        transform: translate3d(0, 0, 0);
        position: relative;
      }
    }

    &:not(:target) {
      z-index: 1;
      height: 0;
    }

    &:target {
      box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
      left: 0;
      position: absolute;
      right: 0;

      .close-btn {
        display: block;
      }
    }

    .expanded {
      > a:first-child:after {
        content: '>';
        float: right;
        transition: all .3s ease-in-out;
      }
    }

    .menu-expanded {
      > a:first-child:after {
        transform: rotate(90deg);
      }
    }
  }

  #nav-header {
    z-index: 100;
    position: relative;
  }
}

#nav-header {
  .nav-btn {
    display: flex;
    left: 1em;
    padding: .75em;
    position: absolute;
  }
}

@include breakpoint($extra-large) {
  #nav-header .nav-btn,
  #block-system-main-menu .close-btn {
    display: none;
  }
}
