@media print {
  #nav-header,
  #block-drupalorg-search-documentation,
  .breadbox,
  .block-drupalorg-crosssite,
  .node-footer,
  #on-this-page,
  .toc-anchor {
    display: none;
  }

  .with-cover-photo.no-sidebars .region-content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
