// Announcement banner.
#banner {
  background: $new-lt-gray;
  position: relative;
  display: none;

  .close {
    text-indent: -9999px;
    background: url(../images/icon-green-close.svg) no-repeat center center / contain white;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    filter: drop-shadow(0 0 5px white);
    position: absolute;
    height: 20px;
    width: 20px;
    right: 1em;
    top: 1em;
  }
}

#block-drupalorg-announcements {
  line-height: 1.45em;

  img {
    display: none;
    margin: -.3em 20px 0 0;

    &.icon {
      flex-shrink: 0;
      max-height: 60px;
      max-width: 60px;
    }

    &.photo {
      border: 2px solid $new-gray;
      border-radius: 50%;
      flex-shrink: 0;
      margin-bottom: -60px;
      max-height: 120px;
      max-width: 120px;
      z-index: 1;
    }

    @include breakpoint($medium) {
      display: block;
    }
  }

  .announcement {
    display: flex;
    font-size: 1.25em;
    margin: 0 auto;
    min-height: 110px;
    width: 100%;
    max-width: 960px;
    padding: 1.5em 1em;

    @include breakpoint($medium) {
      padding: 32px 80px;
    }
  }

  blockquote {
    margin: 0;

    &::before {
      color: lighten($new-green, 20%);
      font-size: 6em;
      margin-left: -.4em;
    }
  }

  cite {
    color: $new-dk-gray;
    display: block;
    font-size: .75em;
    text-align: right;

    &::before {
      content: '—'
    }
  }

  .cta {
    background: $new-green;
    text-align: center;

    a {
      background: $new-dk-green;
      color: $white;
      display: inline-block;
      font-size: 1.25em;
      padding: 0.5em 6vw;

      &:hover, &:focus {
        background: darken($new-dk-green, 5%);
        text-decoration: none;
      }
    }
  }
}

// Site takeover curtain.
#block-drupalorg-site-curtain {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0,0,0,.9);
  bottom: 0;
  color: $white;
  display: none;
  left: 0;
  overflow: scroll;
  padding: 5vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;

  &.visible {
    display: flex;
  }

  .block-inner {
    margin: auto;
    max-width: 35rem;
  }

  .close {
    text-align: right;

    button {
      background: unset;
      border: unset;
      margin: 0;
      padding: 0;
      width: 1.5em;

      &:hover, &:focus {
        filter: drop-shadow(0 0 5px white);
      }
    }
  }

  h2 {
    color: $white;
    font-size: (27rem / 16);
    font-weight: 300;
    margin-top: .25rem;

    &:focus {
      color: $new-blue;
      outline: none;
    }
  }

  a.button-link {
    display: inline-block;
    font-size: 1.25rem;
  }

  @include breakpoint($small) {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}
