// Taxonomy terms
.terms a,
.terms a:link,
.terms a:visited {
  border-radius: 5px;
  color: $new-dk-gray;
  display: inline-block;
  margin: 3px 0;
  padding: 3px 5px;
  text-decoration: none;
}
.terms a:hover,
.terms a:active,
.terms a:focus {
  background: lighten($new-dk-gray, 20%);
  color: $white;
}
