// User profile pages, /user/N
.profile {
  h3 {
    border-bottom: none; // Reset core style.
    clear: both;
  }

  // Membership badges
  .da-membership-badge {
    @include span-columns(2,3);
    img {
      width: 100%; // IE SVG scaling.
    }
  }

  .user-picture-container {
    float: right;
    margin: 0 0 1em 0;
    width: columns(1, 3);
  }
  .user-picture {
    // Reset core styles.
    float: none;
    margin: 0;

    img {
      border-radius: 500px;
      display: block;
    }
  }
  .new-user {
    @include new-user-badge;
    line-height: 2.4;
    width: $user-picture-width;
  }

  .more-link {
    margin: .5em 0 0 0;
    text-align: left;
  }
}

// Events.
.drupalorg-user-event {
  margin: 0 0 1em 0;
  text-align: center;

  .view-content {
    column-gap: $gutter-width;
    display: grid;
    row-gap: 1em;
  }

  img {
    object-fit: contain;
  }

  &.page {
    .view-content {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      @include breakpoint($small) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }

    img {
      height: 100px;
    }
  }

  &.block {
    .view-content {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    img {
      height: 50px;
    }
  }

  &.organization-block {
    .view-content {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      margin: 1em 0 0 0;
    }

    img {
      height: 50px;
    }
  }
}

.git-link .icon-inline {
  height: 1.5em;
  margin-right: .25em;
  vertical-align: bottom;
}

@include breakpoint($small) {
  .profile {
    // Membership badges
    .da-membership-badge {
      @include span-columns(1, 4);
    }

    .da-membership {
      @include span-columns(3 omega, 4);
    }
  }
}

@include breakpoint($medium) {
  // User profile pages, /user/N
  .profile {
    .main {
      @include span-columns(6);
    }

    .contact {
      @include span-columns(3);

      .user-picture-container {
        float: none;
        width: columns(2, 3);
      }

      .field {
        margin-bottom: 1.3846em;
      }
      .field-name-field-organization-name, .field-name-field-job-title {
        margin-bottom: 0;
      }
      .field-name-field-organizations>.field-items>.field-item {
        margin-bottom: .6923em;
      }
    }

    .aside {
      @include span-columns(3 omega);

      .da-membership-badge {
        @include span-columns(2, 3);
      }
    }
  }
}

// Contributor roles styling
.views-field-field-project-initiative-details {
  @include smaller;
}


.field-name-field-role-start-date, .field-name-field-role-end-date {
  display: flex;
  max-width: 48%;
}

.field-name-field-role-start-date {
  float: left;
  margin-right: 1em;
}

#field-contribution-role-values th.field-label {
  display: none;
}

.view-display-id-contributor_role_profile {
  margin-top: 1em;
  margin-bottom: 1em;

  .views-field-field-con-role a:first-of-type {
    font-weight: 700;
  }

  .item-list .views-row {
    margin-bottom: 1.5em;
  }
}

.field-name-field-mentors {
  .field-item {
    margin-bottom: .5em;
  }

  img {
    margin-right: .5em;
    vertical-align: middle;
    width: 50px;
  }
}

// Edit form.
.field-name-field-demographics {
  background: $new-lt-gray;
  padding: .692em;
}


.field-name-field-organization-reference {
  input {
    width: 100% !important; // Override core's 100%
  }
}

// Starred projects.
.view-starred-projects {
  @include breakpoint($medium) {
    @include span-columns(8);
  }

  h3 {
    display: inline;
  }

  .stars {
    @include smaller;
    background: url(../images/icon-dk-gray-star-fill.svg) transparent left center / 1em no-repeat;
    display: inline-block;
    padding: .3em 0 .1em 1.25em;
    margin-left: .5em;
  }
}

// User listings.
.view-individual-members,
.view-user-mentees,
.field-name-field-mentors {
  img {
    border-radius: 500px;
  }
}

.view-individual-members {
  .form-text {
    width: 15em;
  }

  .description {
    display: none;
  }

  .views-exposed-widgets {
    margin-bottom: 1em;
  }

  .views-row {
    margin-bottom: 1.5em;

    @include breakpoint(max-width $small) {
      @include span-columns(6);
      @include nth-omega(2n);
      &:nth-child(2n+1) {
        clear: both;
      }
    }
    @include breakpoint($small $medium) {
      @include span-columns(2, 8);
      @include nth-omega(4n);
      &:nth-child(4n+1) {
        clear: both;
      }
    }
    @include breakpoint($medium) {
      @include span-columns(2, 12);
      @include nth-omega(6n);
      &:nth-child(6n+1) {
        clear: both;
      }
    }
  }
}
