@mixin monospace-font {
  font-family: Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace;
}

@mixin h2 {
  color: $new-dk-blue;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.35em; // * 20px = 27px
  margin: (18em / 20) 0 0.45em;
  &:first-child {
    margin-top: 0;
  }
}

@mixin h3 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0 0 0.5625em;
}

@mixin small-sprite {
  background-image: $sprite-small-icons;
  background-repeat: no-repeat;
}

@mixin smaller {
  color: $new-dk-gray;
  font-size: 0.92307em; // 0.92307 * 13px = 12px
}

@mixin icon-pointer {
  background-image: $icon-pointer;
  background-repeat: no-repeat;
  background-position: 0 center;
}

@mixin column-count($n) {
  column-count: $n;
  -moz-column-count: $n; // Firefox
  -webkit-column-count: $n; // Safari and Chrome
}

// Forcefully wrap long words in dynamic width containers. See
// https://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
@mixin force-wrap {
  @include word-break(break-all);
  @include hyphens(auto);
}

@mixin large-button {
  font-size: (18em / 13);  // 18px
  font-weight: normal;
  color: $white;
  background-color: $new-green;
  border: 2px solid $new-green;

  &:hover,
  &:focus {
    background-color: $new-dk-green;
    border-color: $new-dk-green;
    cursor: pointer;
  }
}

@mixin new-user-badge {
  background: $new-blue;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

// Hide from both screenreaders and browsers
@mixin hidden {
  display: none !important;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
