// Donor listings.
.pane-donors {
  #content & ul {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
  }

  li {
    padding: 0 .5em .5em 0;
    white-space: nowrap;
  }

  .picture {
    border-radius: 50%;
    height: 40px;
    object-fit: contain;
    width: 40px;
    vertical-align: middle;
  }
}

.view-drupalcares {
  #content & ul {
    @include clearfix;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 ;
    margin: 0 ($gutter-width / -2);
  }

  li {
    flex-basis: 33.3%;
    margin-bottom: .75rem;
    overflow: hidden;
    padding: 0 ($gutter-width / 2);
    text-align: center;

    @include breakpoint($small) {
      flex-basis: 16.66%;
    }
  }

  img {
    max-height: 4rem;
    width: auto;
  }
}

.panel-layout.capricorn .pane-drupalcares-panel-pane-2 {
  background: $body-text;

  .pane-title {
    color: $white;
    text-align: center;
  }

  .pane-content {
    margin: auto;
    max-width: calc(960px + 8vw);
    padding: 2em 4vw;
  }
}

// Logos only.
.view-drupalcares.view-display-id-panel_pane_1 {
  li {
    display: flex;
  }

  a {
    margin: auto;
  }
}

// Logos & names.
.view-drupalcares.view-display-id-panel_pane_2 {
  a div {
    display: flex;
    height: 4rem;
  }

  img {
    margin: auto;
  }

  .panel-layout.capricorn & {
    li {
      flex-basis: 100%;

      @include breakpoint($small) {
        flex-basis: 50%;
      }

      @include breakpoint($medium) {
        flex-basis: 33.3%;
      }
    }

    a {
      color: $white;

      div {
        background: white;
        box-shadow: 0 0 5px rgba($black, .6);
        height: 8rem;
        margin: 0 0 .25rem 0;
        padding: 1rem;
      }
    }

    img {
      max-height: 6rem;
    }
  }
}

// Drupal Steward.
.pane-steward-pricing {
  padding: 2em 4vw;
  text-align: center;

  .form-type-textfield {
    label, input {
      display: inline-block;
    }

    label {
      text-align: right;
      width: 10em;
    }
  }

  .estimate {
    font-size: 1.1em;
    margin: .5em 0 0 0;
  }
}

// DA election pages
// Candidate pages

.election-candidate .field-label {
  margin: 1em 0 0.45em;
}

.field-name-field-election-picture img {
  position: relative;
  float: left;
  margin-right: 2%;
}

.election-candidate .replies-header {
  margin-top: 2em;
}

.election-candidate .reply {
  border: none;
  border-left: solid 1px $new-gray;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 1em;
}

.election-candidate .reply-body .field-label {
  display: none;
}

.election-candidate .reply-links {
  margin-top: 0.5em;
  a {
    margin-right: 0.5em;
  }
}


// List of candidates
ul.election-candidate li.views-row div.views-field-view-link {
  position:absolute;
  margin-top:auto;
  margin-bottom:5%;
  bottom:0px;
  right: 1px;
  left:auto;
}

//maintains float for list of nominees
.elec-list{
  float:left;
}

.election-candidate .views-field-view-link{
  clear:left;
  text-align: center;
  margin-bottom: 1%;
  margin-left:0%;
  margin-right:auto;
  width:100%;
}


.election-candidate .views-row {
  position:relative;
  background-color:#F6F6F2;
  margin: 0 4% 4% 0px;
  width: 48%;
  min-height: 18em;
  padding: 1em;
  @include clearfix;
  &.views-row-even {
    margin-right: 0;
    }
  }


  .candidate-picture,
  .views-field-field-election-picture a {
    max-width: 100px;
    float: left;
    position: relative;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .views-row .views-field-field-twitter > div:before {
    content:url(../images/twitter-16x16.png);
    position: relative;
    top: 3px;
    padding-right: 5px;
  }

  .field-name-field-twitter {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .field-name-field-about-me {
    padding-bottom: 5px;
  }

  #content .view-nominations {
    padding-left: 0;
  }

  #content .view-nominations .views-row-odd {
    clear: left;
  }

  .view-nominations .election-candidate-name {
    font-size: 1.0em;
    line-height: 1.35em;
    margin-bottom: 0.5em;
    display: block;
  }

  .view-nominations .views-field {
    margin-bottom: 0.5em;
  }

  .view-nominations .views-label {
    display: none;
  }

  .field-name-field-candidate-comments {
    clear: both;
  }

  // Candidate Preview

  #aside {
    position: relative;
  }

  #aside .view-nominations .views-row {
    min-height: 0;
  }

 #block-views-nominations-block-1 .view {
    overflow: visible;
    padding:0;
    li {
      width: 100%;
      z-index: 99;
    }
  }

#block-views-nominations-block-1 .views-field-nothing {
      text-align: center;
      padding-bottom:1em;
}

  .election-candidate .views-field-name h2.field-content{
    margin-top:-10px;
  }

  #aside #block-block-158 .block-inner {
    background: white;
    @include clearfix;
  }

  #block-views-nominations-block-1 .views-field-field-election-picture {
    position: relative;
    float: left;
    margin-right: 5px;
  }


.druprofilelink a:before {
    position: relative;
    top: 3px;
    padding-right: 5px;
    content: url(../images/druplicon-16x16.png);
  }



  // Comment/reply Thread

  .replies-wrapper {
    .entity-reply {
      @include clearfix;
      border-bottom: 1px solid #ccc;
      position: relative;
    }

    .user-picture {
      float: left;
      margin: 1em;
      img {
        height: auto;
        max-width: 70%;
      }
    }

    .reply-body {
      margin-left: 6em;
      padding-top: 0.5em;
    }

    .reply-links {
      float:right;
      margin-left: 6em;
      padding-bottom:10px;
    }

    .by-candidate {
      background-color: $new-lt-gray;
    }

    .depth-1 {
      margin-left: 2em;
    }

    .depth-2 {
      margin-left: 4em;
    }
  }

  // Nomination Page

  #edit-post-id, #election-candidate-form div.form-item.form-type-select.form-item-post-id.form-disabled > label {
    visibility: hidden;
  }

  // Elections voting

  @include breakpoint($medium) {
    .election-ballot-paper .election-candidate-ballot-item a,
    #election-vote-form.confirmation .candidate-name {
      line-height: $candidate-picture-height;
      vertical-align: middle;
      text-align: middle;
    }
  }

  #election-ballot-paper tr.candidate-divider {
    background-color: $new-lt-orange;
    color: $black;
  }

  #election-vote-form.confirmation table {
    width: 100%;
  }

  #edit-post-help{
    display: none;
  }
