// Case study filters.
.page-case-studies {
  .views-exposed-widget {
    float: none;
    margin-bottom: .5rem;
    padding: 0;
  }

  .form-item:not(:last-child) .form-checkboxes {
    margin-bottom: .5rem;
  }

  @include breakpoint($small) {
    .form-checkboxes {
      column-count: 3;
    }
  }
}

// Case study listings.
.case-studies-grid .views-row {
  @include breakpoint($small) {
    @include span-columns(4);
    @include nth-omega(3n);
    &:nth-child(3n+1) {
      clear: both;
    }
  }
  margin-bottom: (18em / 13);
}

// Case study node view.
.node-type-casestudy .node {
  .field {
    margin-bottom: 1em;
  }

  .content > .field .field-label {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0 0 0.45em;
  }
}
