// Community event view listings.
.comm-events {
  .pane-community-events {
    // DrupalCon specific styles.
    .drupalcon-events {
      // Set up the grid.
      .views-row {
        display: grid;
        grid-template-columns: auto 1fr;
        margin: 2em 0;
      }

      // Set the logo to take up the entire first column.
      .views-field-field-event-logo {
        grid-row: 1/4;
      }

      .views-field-title, .views-field-body, .views-field-field-event-links {
        padding-left: .5em;
      }

      // Match the button styles to the input[type="submit"] below.
      a.action-button {
        font-size: 0.92307em;
        padding: 0 1em;
        line-height: 2.008em;
      }
    }

    // Upcoming events listing pane.
    .view-display-id-community_events_upcoming_events {
      .views-row {
        display: grid;
        grid-template-columns: auto 1fr;
      }

      // Logo should span 4 rows (start = 1, end = 5) and be centered.
      .views-field-field-event-logo {
        grid-row: 1/5;
        margin: 0.25em 1em;
        align-content: center;

        // Images aren't square, so constrain them by width.
        img {
          max-width: 60px;
        }
      }

      // We use row 1 and row 4 for padding (instead of rewriting the HTML in the View).
      // If we wrapped date and title in another div we could refactor this.
      .views-field.views-field-title {
        grid-row: 2;
      }

      .views-field.views-field-field-date-of-event {
        grid-row: 3;
        .date-display-range {
          clear: right;
        }
      }
    }
  }

  .pane-title {
    margin: 0;
    padding: 0;
  }

  .view-footer {
    padding-top: .5em;
  }
}

.events-list {
  div.views-row {
    margin-top:.5em;
  }

  .views-row-even {
    background-color:$new-lt-gray;
  }
}

// Community events views styling
.comm-events-main-view {
  .views-row{
    float:left;
    height:130px;
    margin-bottom: .5em;
    background-color:$new-lt-gray;
    padding: .25em;
    width: 100%;
  }
  .views-field-field-event-logo {
    max-height: 120px;
    float:left;
    margin-right: .5em;
    overflow:hidden;
  }
  .views-field-field-cover-photo {
    margin-top: 1em;
  }
  .views-widget-filter-field_event_format_value {
    padding:1em;
    background:$new-lt-gray;
    input {
      width: 15px;
    }
    .bef-checkboxes {
      column-count: 2;
    }
    .form-item {
      margin:0;
    }
  }
  #edit-submit-community-events.form-submit{
    float:right;
    margin-left:1em;
  }

  .views-label {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2em;
  }

  .view-field-field-event-address {
    overflow: auto;
  }

  div.addressfield-container-inline {
    &::after {
      content: '';
      display: inline;
    }
  }

  .views-label-field-date-of-event {
    float: left;
    margin-right: .5em;

    span.date-display-start {
      &::after {
      }
    }

  }
  .views-field-field-date-of-event{
    .date-display-end{
    }
  }

  .views-label-field-date-of-call-for-papers {
    float: left;
    margin-right: .5em;
  }
}
//Community events node
.node.node-event {
  .field {
    margin-bottom: 1em;
  }

  .field-name-field-event-status, .field-name-field-event-type, .field-name-field-event-format{
    @include clearfix;
    background-color: $new-lt-gray;
    padding: 1em;
    min-width: 180px;
    @include breakpoint($medium) {
      max-width: 30%;
      margin-right: 1em;
    }
  }

  .field-name-field-event-status {
    clear: right;

    @include breakpoint($medium) {
      float: left;
    }

    &.field-event-status-cancelled {
      background: $asterisk-warning;
      color: $white;
    }
  }

  .field-name-field-event-format {
    clear: right;
  }

  .field-name-field-event-type{
    clear:right;
    min-width:200px;
    @include breakpoint($medium) {
      min-width:200px;
      float: left;
    }
  }

  .field-label {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0 0 .25em;
  }
  div.field-name-field-event-logo {
    @include breakpoint ($medium){
      float: right;
      @include clearfix;
    }
  }

  .field-name-field-organizers,
  .field-name-field-event-speakers,
  .field-name-field-event-volunteers,
  .field-name-field-event-sponsors,
  .field-name-field-code-of-conduct-contact {
    @include breakpoint($small) {
      .with-cover-photo & {
        @include bleed(3);
        padding: 0;
      }
    }

    .field-items {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2em;
    }
  }

  .field-name-field-organizers,
  .field-name-field-event-speakers,
  .field-name-field-event-volunteers,
  .field-name-field-code-of-conduct-contact {
    .field-item {
      @include breakpoint($small) {
        width: columns(2);
      }
    }

    img {
      border-radius: 50%;
    }
  }

  .field-name-field-event-sponsors {
    .field-item {
      @include breakpoint($small) {
        width: columns(3);
      }
    }
  }

  .field-name-field-date-of-event {
    span.date-display-start {
      &::after {
        content: '';
        display: block;
        white-space: pre-line;
      }
    }

    span.date-display-end {
      &::before {
        content: '';
        display: inline;
        white-space: pre-line;
      }
    }
  }
}

.events-map {
  .leaflet-popup {

    .leaflet-popup-content > .node-event > .content > div.field-name-field-event-format,
    .leaflet-popup-content > .node-event > .content > div.field-name-field-date-of-event,
    .leaflet-popup-content > .node-event > .content > div.field-name-field-event-type {
      margin:0em !important;
      margin-bottom: .5em !important;
      background-color: $white !important;
      padding: 0em !important;
      clear: right !important;
    }
    .leaflet-popup-content > .node-event > .content > div.field-name-field-event-format > .field-items,
    .leaflet-popup-content > .node-event > .content > div.field-name-field-date-of-event > .field-items,
    .leaflet-popup-content > .node-event > .content > div.field-name-field-event-type > .field-items {
      font-weight: normal !important;
      margin:0em !important;
      font-size: 1em !important;
      line-height: 1em !important;
    }
    .leaflet-popup-content > .node-event > .content > div.field-name-field-event-format > .field-label,
    .leaflet-popup-content > .node-event > .content > div.field-name-field-date-of-event > .field-label,
    .leaflet-popup-content > .node-event > .content > div.field-name-field-event-type > .field-label {
      font-weight: bold !important;
      margin:0em !important;
      font-size: 1em !important;
      line-height: 1em !important;
      float: left;
    }
  }
}

// Events dates view
#views-exposed-form-community-events-pane-community-events-table {
  .views-widget-filter-field_date_of_event_value {
    display: none;
  }
  .views-widget-filter-title {
    clear: left;
  }
}
