// Used for content with field_cover_photo.

.with-cover-photo {
  #page {
    position: relative;
  }

  #page-title {
    background: radial-gradient(circle, rgba(178,178,178,.3) 25%, rgba(0,0,0,.75) 100%);
    font-size: 3rem;
    margin: 0;
    max-width: 100%;
    padding: 8vw 5vw 16vw 5vw;
  }

  #page-title,
  #content .node .submitted {
    color: white;
    text-align: center;
    text-shadow: 0 0 0.5em $body-text, 0 0 0.5em $body-text;
  }

  #tabs {
    padding: .5rem;
    position: absolute;
    z-index: 1;
  }

  .page-inner {
    padding-top: 3rem;
  }

  .node .submitted {
    left: 5vw;
    right: 5vw;
    padding: 0 0 3.5rem 0;
    position: absolute;
    transform: translateY(-100%);

    a {
      color: white;
      text-decoration: underline;
    }
  }

  // Squeeze content to the center when there are no sidebars.
  @include breakpoint($small) {
    &.no-sidebars {
      .region-content {
        @include squish(2, 2);
      }

      blockquote.big,
      .big-stats,
      .field-name-field-mainimage {
        @include bleed(1);
      }

      .field-name-field-mainimage {
        padding: 0;
        text-align: center;
      }
    }
  }
}

#cover-photo {
  background-position: center;
  background-size: cover;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
