// Main view styling
.view-display-id-d7_eol_pane_hd {
  margin-top: 1em;

  .view-header {
    padding: 1em;
    background: $new-lt-gray;
    margin-bottom: 2em;

    h2 {
      color: $black;
    }
  }

  .views-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2/5fr 2/5fr 1/5fr;
    row-gap: 1em;
    margin: 1em 0;
    padding-bottom: 1em;
    border-bottom: 2px solid $new-lt-gray;

    @include breakpoint($medium) {
      grid-template-columns: 125px 1fr;
      grid-template-rows: 4/5fr 1/5fr;
      column-gap: 1em;
    }
  }

  .views-field-field-logo {
    grid-column: 1;
    grid-row: 1;

    @include breakpoint($medium) {
      grid-row: span 2;
    }
  }

  .views-field-field-migration-cta-text {
    grid-column: 1;
    grid-row: 2;

    @include breakpoint($medium) {
      grid-column: 2;
      grid-row: 1;
    }
  }

  .views-field-field-migration-cta-link {
    grid-column: 1;
    grid-row: 4;
    text-align: center;

    @include breakpoint($medium) {
      grid-column: 2;
      grid-row: 2;
      text-align: left;
    }
  }
}

.eol-become-a-partner {
  background: $new-lt-blue;
  padding: 1em;

  h2 {
    font-size: 1.7em;
    color: $new-dk-blue;
  }

  a {
    display: inline-block;
    color: $new-dk-blue;
    background: $new-lt-blue;
    border: 2px solid $new-md-blue;
    padding: .5em 2em;
    font-size: 1.077em; // 14pt

    &:focus, &:hover {
      text-decoration: none;
      color: $white;
      background: $new-dk-blue;
      border: 2px solid $new-dk-blue;
    }
  }
}

// Migration resource center filters
.pane-menu-menu-d7-eol-filter-menu {
  .pane-title {
    background: $new-lt-gray;
    color: $new-dk-gray;
    padding-left: 1em;
    font-size: large;
    padding-top: 1em;
    padding-bottom: .5em;
  }

  .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li a {
    text-decoration: none;
    background: $new-lt-gray;
    color: $new-dk-blue;
    display: block;
    padding: 12px 2em;
    transition: background 0.3s, color 0.3s;
  }

  .menu li a.active,
  .menu li a:hover,
  .menu li a:focus,
  .menu li a:active {
    background: $new-blue;
    color: $white;
  }
}

// Bespoke Table of Contents for D7 EOL page
.toc {
  padding: 1em;
  background: $new-lt-gray;

  h2 {
    font-size: 1.7em;
  }

  ul li {
    margin-top: .5em;
    list-style-type: none;
    padding-left: 1em;
  }
}
