#forum ul {
  padding: 0;
}

#forum tr td.container {
  padding-left: 10px;
}

#forum td.forum .icon {
  background-image: none;
  width: auto;
  margin: 0;
}

#forum tr td.container .name {
  background: transparent $sprite-small-icons no-repeat;
  background-position: 0 3px; // todo fix sprites here
  padding: 0px 0 5px 20px;
  min-width: 20px;  // IE7 hack
}

#forum div.indent {
  margin-left: 30px;
}

#forum {
  .title {
    @include force-wrap;
  }
}

#forum tr td.forum .name {
  background: transparent $sprite-small-icons no-repeat;
  background-position: 0 -155px; // todo fix sprites here
  min-width: 20px;  // IE7 hack
}

#forum tr td.forum .name,
#forum .description {
  padding: 0 0 0 20px;
}

#forum {
  .description, .topics, .posts {
    @include smaller;
  }

  .last-reply {
    line-height: .9em;
  }

  .submitted {
    font-size: .8em;

    // Line break after author name, so time ago is more-together.
    a::after {
      content: ' ';
      display: block;
    }
  }
}

td.icon {
  margin: 5px 0 0 0;
}

.icon16 {
  width: 16px;
  height: 16px;
  display: block;
}

.forum-default,
.forum-hot {
  background: transparent $sprite-small-icons no-repeat;
  background-position: 0 -155px;
}

.forum-hot-new,
.forum-new {
  background: transparent $sprite-small-icons no-repeat;
  background-position: 0 -410px;
}

.forum-closed {
  background: transparent $sprite-small-icons no-repeat;
  background-position: 0 -380px;
}

.forum-sticky {
  background: transparent $sprite-small-icons no-repeat;
  background-position: 0 5px;
}

// Forum Action Links

.page-forum #content ul.action-links {
  padding-left: .5em;

  li {
    list-style-type: none;

    a {
      display: inline-block;
      padding-left: 1.4em;
      background: transparent $sprite-small-icons no-repeat;
      background-position: 0 -415px;
    }
  }
}
