.drupalorg-gitlab-link {
  border-radius: 4px;
  padding: 2px 4px;
}

.drupalorg-gitlab-link-closed {
  background: $issue-status-7;
  text-decoration: line-through;
}

#content .drupalorg-gitlab-link-list ul {
  margin: 0;
  padding-left: 0;
}

.drupalorg-gitlab-link-list li .drupalorg-gitlab-link {
  display: inline-block;
}

.pipeline-result img {
  vertical-align: -.5em;
  margin-left: -.8em;
  margin-right: .2em;
  max-height: 32px;
}
