// Sidebar: Issue settings block
#block-project-issue-issue-metadata {
  .block-inner {
    padding: 0;
  }
  .field {
    margin: 0 1em;
    padding: (4em / 13);
  }
  .field + .field {
    border-top: 1px solid lighten($new-gray, 5%);
  }
  .field-label {
    width: 36%;
  }
  .field-items {
    width: 64%;
  }
  .field-name-field-issue-status {
    margin: 0;
    padding: 1em 0 0.5em;
    text-align: center;
    font-weight: bold;

    .field-items {
      width: 100%;
    }

    + .field {
      border-top: none;
    }
  }
  .field-name-taxonomy-vocabulary-9 {
    position: relative;

    .field-items {
      width: 100%;
    }

    .field-item {
      display: inline;
    }

    .field-item + .field-item:before {
      content: ", ";
    }

    // Tag descriptions.
    .has-description {
      border-bottom: 1px dashed $new-dk-gray;
    }

    @include breakpoint($medium) {
      dl {
        background: $white;
        border-radius: .5em;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .4);
        margin: 0 .7em 0 0;
        padding: .4em 1em;
        position: absolute;
        top: -.8em;
        left: -150%;
        right: 100%;
        z-index: 1;

        &:after, &:before { // Arrow
          right: 0;
          top: 1em;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-left-color: $white;
          border-width: 10px;
          margin-right: -19px;
        }
        &:before {
          border-width: 10px;
          margin-right: -21px;
        }
      }

      dt {
        @include h3;
      }
    }

    dd {
      padding-left: 0;

      &:last-child p:last-child {
        margin-bottom: 0;
      }
    }
  }
  .new-user {
    @include new-user-badge;
    display: inline;
    font-size: (12em / 13);
    margin: 0 0 0 0.5em;
    padding: (1.5em / 12) 0.5em;
  }

  .flag-project-issue-follow {
    background: $white;
    padding: 0 1em;
  }

  #project-issue-jumplinks {
    background: $white;

    // These use an "active" class, so force them to bluecheese blue.
    a {
      color: $new-blue;
    }

    .comment-form {
      font-weight: bold;
    }
  }

  // Issue status field backgrounds
  .field-issue-status-1 {
    background-color: $issue-status-1;
    border-bottom: 2px solid $issue-grey;
  }

  .field-issue-status-2 {
    background-color: $issue-status-2;
    border-bottom: 2px solid $issue-green;
  }

  .field-issue-status-3,
  .field-issue-status-4,
  .field-issue-status-5,
  .field-issue-status-6,
  .field-issue-status-16,
  .field-issue-status-17 {
    background-color: $issue-status-3;
    border-bottom: 2px solid $issue-blue;
  }

  .field-issue-status-7,
  .field-issue-status-18 {
    background-color: $issue-status-7;
    border-bottom: 2px solid nth($issue-pink, 2);
  }

  .field-issue-status-8 {
    background-color: $issue-status-8;
    border-bottom: 2px solid $issue-orange;
  }

  .field-issue-status-13 {
    background-color: $issue-status-13;
    border-bottom: 2px solid nth($issue-pink, 1);
  }

  .field-issue-status-14,
  .field-issue-status-15 {
    background-color: $issue-status-14;
    border-bottom: 2px solid $issue-light-green;
  }
}

#about-tags-link {
  color: $new-dk-gray;
}

.extended-file-field-table-filename,
.nodechanges-file-link {
  max-width: 28em;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Node changes tables.
.field-type-nodechanges-revision-diff table {
  font-size: 0.92308em; // 12px

  tr.even, tr.odd {
    background: none;
    border: none;
  }
}
#extended-file-field-table-field-issue-files {
  border: 1px solid $new-gray;
  border-collapse: separate; // Show borders on Firefox
  width: 100%;

  .extended-file-field-table-row td {
    border-top: 1px solid $new-gray;
  }
  .extended-file-field-table-result-row td {
    border-top: 0;
  }
}
.nodechanges-file-changes {
  border: 1px solid $new-gray;

  .nodechanges-file-changes td {
    border-top: 1px solid $new-gray;
  }
}
.nodechanges-field-changes {
  background: $new-lt-gray;
  td {
    padding: .16666em 0.25em; // 18px total height, separate words.
    .system-message & {
      padding: .16666em 0.5em .16666em 0; // Align left edges.
    }
  }
}
.nodechanges-label {
  text-align: right;
  font-weight: bold;
}

.node-project-issue table,
.nodechanges-old, .nodechanges-new,
.field-name-field-issue-files .file,
.nodechanges-file-changes .file {
  @include force-wrap;
}

.nodechanges-old {
  text-decoration: line-through;
  &, & a {
    color: $new-dk-gray;
  }
}
.nodechanges-new {
  font-weight: bold;
}

// Since we set margins on the wrapper, floating it is more convenient.
.issue-settings {
  .form-item {
    float: none;
  }
}
.issue-settings-issue {
  .form-wrapper {
    // Remove margin between this and description for the whole row.
    margin-bottom: 0;
  }
}

@include breakpoint($medium) {
  .node-project_issue-form {
    .form-item-title {
      @include span-columns(6);
    }
    .issue-settings-project {
      @include span-columns(6 omega);
      .field-name-field-project {
        @include span-columns(4, 6);
      }
    }
    .issue-settings-issue {
      @include span-columns(6);
      & + .description {
        clear: both;
      }
    }
  }
  .node-project_issue-form {
    .field-name-field-issue-category {
      max-width: 25%;
    }
    .field-name-field-issue-priority {
      max-width: 25%;
    }
    .field-name-field-issue-status {
      max-width: 50%;
    }
    .field-name-field-issue-version {
      max-width: 25%;
    }
    .field-name-field-issue-component {
      max-width: 50%;
    }
    .field-name-field-issue-assigned {
      max-width: 25%;
    }
  }
  .field-name-field-issue-files .form-type-select {
    position: absolute;
    display: inline-block;
    margin: (-17em / 13) 0 0 1em;
  }
}

@include breakpoint($small) {
  .nodechanges-field-changes {
    padding: (3em / 13);
  }
  .issue-settings .form-wrapper {
    float: left; // Put dropdowns inline.
  }
}

.node-project_issue-form {
  .issue-settings {
    clear: none;
    .form-type-textfield {
      padding-right: 0;
    }
  }
  .issue-settings-project {
    .field-name-field-project {
      width: 100%;
    }
    .field-widget-options-select {
      margin-bottom: 0;
    }
  }
  // Add margin under description, which does not come with a margin.
  .field-name-taxonomy-vocabulary-9 {
    margin-top: .692em;
  }
  // Increase the width of these fields to span entire form width.
  .form-item-title,
  .field-name-field-project,
  .form-item-taxonomy-vocabulary-9-und,
  .field-name-field-issue-parent,
  .field-name-field-issue-related {
    input.form-text {
      width: 100%;
    }
  }
}

fieldset.group-issue-attribution {
  &:not(.filter-wrapper):not(.vertical-tabs-pane) {
    background: none;
  }
  padding: 0;
  html.js & {
    legend {
      display: none;
    }
    .organization, .customer {
      background: $new-lt-gray;
      color: $body-text;
      padding: 0.3em;
      border-radius: 5px;

      &::after {
        content: " ▾";
      }
    }
    .field-name-field-attribute-contribution-to,
    .field-name-field-for-customer {
      background: $new-lt-gray;
      padding: .8em 1em;
      border: 1px solid $new-gray;
      border-radius: .5em;
      position: absolute; // Stay with flow for top, JS sets left.
      margin-top: .8em;
      box-shadow: 0 4px 10px rgba(0, 0, 0, .4);
      outline: 0; // The presence of these bubbles indicates focus.

      &:after, &:before { // Arrow
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-bottom-color: $new-lt-gray;
        border-width: 10px;
        margin-left: -10px;
      }
      &:before {
        border-bottom-color: $new-gray;
        border-width: 11px;
        margin-left: -11px;
      }
      button {
        @include smaller;
        background: none;
        border: none;
        padding: 0px;
        float: right;

        &:focus,
        &:hover {
          border: none;
        }
      }
    }
    .fieldset-description {
      float: left; // Pull out of flow so bubbles stick to "Attribute this contribution to" line.
    }
  }
  html:not(.js) & .customer-suggestion {
    display: none;
  }
}

#drupalorg-issue-credit-form {
  .credit-summary {
    padding-bottom: (8em / 13);
  }

  &.collapsed .description {
    margin-bottom: .5em;
  }

  .form-item-message input {
    width: 100%;
  }
  table {
    width: inherit; // Do not stretch to full width.
    margin: 0.61538em 0;
  }
  th {
    white-space: nowrap;
  }
  tr.odd .form-item, tr.even .form-item {
    // Override core style, allow wrapping.
    white-space: normal;
  }
  .author {
    text-align: center;
  }
  .number {
    text-align: right;
  }

  .bar {
    height: 1em;
    background-color: $new-green;
    border-radius: 3px;
    &.overflow {
      background: none;
      @include background-image(linear-gradient(left, $new-green 0%, $new-green 95%, rgba($new-green,0) 100%));
    }
  }
}

// Do not wrap links.
#project-issue-jumplinks,
.view-project-issue-issue-relations .view-footer {
  a {
    white-space: nowrap;
  }
}

#drupalorg-issue-fork-block-form {
  > div {
    display: flex;
    flex-direction: column;

    @include breakpoint($small) {
      flex-direction: row;
    }
  }

  .create-new-branch {
    order: 2;

    .form-item {
      display: inline-block;
      margin: 0;
    }

    #edit-branch-name {
      max-width: 30em;
    }
  }
}

.drupalorg-issue-fork {
  margin: 1em 0 .5em 0;
  position: relative;
}

#drupalorg-issue-forks {
  margin: 1em 0;

  .header-and-access {
    // Do not underlap .help-commands summary.
    max-width: calc(100% - 8.5rem);
  }

  h3 {
    // Inline with push access.
    display: inline;
    padding: 0 .5em 0 0;
  }

  h3, .help-commands summary {
    // Keep baseline aligned.
    line-height: 1.5rem;
  }

  form {
    // Get push access on the same line as header.
    display: inline-block;

    input[type="checkbox"] {
      margin: 0;
    }
  }

  .form-actions {
    margin: 0;
  }

  p {
    margin-bottom: .5em;
  }

  .help-commands {
    summary {
      // Show to the right of the header.
      position: absolute;
      right: 0;
      top: 0;
    }

    > *:not(summary) {
      @include smaller;
    }

    &[open], & + .branches .drupalorg-copy-container, & ~ .new-branch .drupalorg-copy-container {
      background: $new-lt-gray;
      margin: .25em 0 0 0;
      padding: 1em;
    }

    & + .branches .drupalorg-copy-container, & ~ .new-branch .drupalorg-copy-container {
      @include smaller;
      display: none;
    }

    &[open] + .branches .drupalorg-copy-container, &[open] ~ .new-branch .drupalorg-copy-container {
      display: block;
    }
  }

  .drupalorg-copy {
    white-space: pre;
  }

  // Hide branches until initial fork processing completes.
  .in-progress {
    .branches, &.have-push-access .new-branch {
      display: none;
    }

    a, a:visited {
      color: $new-dk-gray;
      cursor: wait;
    }
  }

  #content & .branches {
    list-style-type: none;
    padding: 0;
  }

  .branches > li {
    border: 1px solid $new-gray;
    border-top: none;
    padding: .5em;

    &:first-child {
      border-top: 1px solid $new-gray;
      margin-top: .5em;
    }
  }

  .link {
    line-height: 1.75em;
  }

  .push-access, .compare {
    white-space: nowrap;
  }

  .compare img {
    height: 1.2em;
    opacity: .87;
    vertical-align: text-bottom;
  }

  .new-branch {
    display: none;
  }

  .have-push-access .new-branch {
    display: inline;
  }

  .tugboat {
    align-items: baseline;
    display: flex;
    margin: .25em 0 0 0;

    > span {
      flex-grow: 1;
    }

    > a {
      margin: 0 0 0 1em;
    }

    img {
      vertical-align: bottom;
    }
  }
}

a.merge-request {
  background: $new-gray;
  border-radius: 4px;
  color: $body-text;
  padding: 2px 4px;
  white-space: nowrap;

  &.merged {
    background: nth($issue-fixed, 1);
    border: 1px solid nth($issue-fixed, 2);
    color: $new-dk-gray;
  }

  &.error {
    background: $issue-status-13;
    border: 1px solid nth($issue-pink, 1);
  }

  &.wip {
    background: $issue-status-8;
    border: 1px solid $issue-orange;
  }

  &.mergeable {
    background: $issue-status-14;
    border: 1px solid $issue-light-green;
  }

  &.closed {
    color: $new-dk-gray;
  }
}

.merge-request-activity {
  #content & {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0 0 .692em 0;
  }

  .submitted .unresolved {
    background: $issue-orange;
    border-radius: 4px;
    color: $body-text;
    padding: 2px 4px;
  }

  .reply-to {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > li {
    clear: both;
    position: relative;
  }

  // Discussion marker.
  .highlighted::before {
    background: $new-blue;
    bottom: 0;
    content: ' ';
    display: block;
    left: -.75em;
    position: absolute;
    top: 0;
    width: .25em;
  }

  // Inline diffs.
  .left, .right {
    float: none;
    margin: 0;
  }

  .deletion {
    background: $issue-status-13;
  }

  .addition {
    background: nth($issue-fixed, 1);
  }

  .gfm-commit, .gfm-commit_range {
    @include monospace-font;
    font-size: .9em;
  }
}

.mr-activity-toggle {
  float: right;
  margin-top: -2em;
}

.merge-request-activity-hide .merge-request-activity {
  display: none;
}

#drupalorg-merge-mr {
  margin: 1em 0 0 0;
}

.form-item-merge-branch {
  display: inline-block;
}

a.toggle-branch {
  float: none;
  margin-left: .5em;
}
@include breakpoint($medium) {
  a.toggle-branch {
    float: right;
    margin-top: .3em;
  }
  .pipeline-result ~ a.toggle-branch {
    margin-top: 1em;
  }  
}
