// Organization node layout
.node-organization {
  @media all and (min-width: 540px) {
    .intro {
      @include span-columns(4);
    }

    .main {
      @include span-columns(8 omega);
    }

  }

  &.node-teaser {
    margin-top: 0em;
    margin-bottom: 0em;

    > h2 {
      // Logos replace titles in organization listings, only the top-level,
      // another h2 is added in place of missing logo.
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden !important;
    }

    @include breakpoint($small) {
      .field-name-field-logo {
        @include span-columns(3, 12);

        a {
          width: 100%;
          text-align: center;
          display: block;
        }
      }

      .contributions {
        @include span-columns(7, 12);
      }

      .field-name-field-organization-support {
        @include span-columns(2 omega, 12);

        img {
          width: 66.66%;
        }
      }
    }
  }
}

.view-drupalorg-training {
  @media all and (min-width: 540px) {
    .intro {
      @include span-columns(3, 8);
    }
    .main {
      @include span-columns(5 omega, 8);
    }
  }
}

.view-drupalorg-supporting-technologies {
  @media all and (min-width: 540px) {
    .intro {
      @include span-columns(2, 8);
    }
    .main {
      @include span-columns(6 omega, 8);
    }
  }
}

// Smaller screens
.view-drupalorg-organizations.view-display-id-page_1, .view-display-id-organizations {
  .org-teaser-trimmed-body {
    float: left;
    clear: both;
  }

  .view-content {
    .view-organization-case-studies {
      .view-content {
        margin-top: .5em;

        :nth-child(n+4) {
          display: none;
        }
      }
    }
  }

  .field-name-field-logo {
    @include span-columns(8, 12);

    a {
      text-align: center;
      display: block;
    }

    img {
      max-height: 6em;
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  .field-name-field-organization-support {
    @include span-columns(4 omega, 12);

    a {
      display: block;
      text-align: center;
    }

    img {
      max-height: 6em;
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  .contributions {
    .stats {
      clear: both;
      padding-top: .5em;
      margin-bottom: .5em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: baseline;
      align-content: space-evenly;

      div {
        margin-right: 1em;
      }
    }
  }
  .case-study-view-title {
    background: $new-lt-gray;
    padding: .5em;
  }
}

// Teaser based views
// Bigger screens
@include breakpoint($small) {
  .view-drupalorg-organizations.view-display-id-page_1, .view-display-id-organizations {
    .view-header {
      @include suffix(4);
    }

    .views-widget-filter-secondary {
      // Override exposed filter styling for fieldset.
      float: none;
      padding: 0;

      .bef-secondary-options {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: flex-start;
      }

      .form-item {
        margin-right: 1em;
      }
    }

    .view-content {
      .field-name-field-logo {
        @include span-columns(3, 12);

        a {
          text-align: center;
          display: block;
        }

        img {
          max-height: 6em;
          max-width: 100%;
        }
      }

      .field-name-field-organization-support {
        @include span-columns(2 omega, 12);

        img {
          max-height: 8em;
        }
      }

      .contributions {
        @include span-columns(7, 12);
      }

      .view-organization-case-studies {
        display: flex;

        .view-content {
          @include smaller();
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          align-content: space-evenly;

          .views-field-field-mainimage {
            margin-top: .5em;
            height: 60px;
            img {
              max-height: 6em;
              max-width: 6em;
              height: 60px;
              width: auto;
              object-fit: cover;
            }
          }

          :nth-child(n+4) {
            display: inline;
          }
        }
      }
    }
  }
}

.view-drupalorg-organizations .view-header {
  @include clearfix;
  @media all and (min-width: 540px) {
    .nav {
      @include span-columns(3, 3);
    }

    .nav-column {
      @include span-columns(1, 3);

      &:last-child {
        @include omega;
      }
    }
  }

  h3 {
    margin-top: 0;
  }
}

.views-widget-filter-field_office_locations_country {
  max-width: 100%;
}

#content .view-drupalorg-organizations .view-header ul {
  padding-left: 0;
  list-style-type: none;
}

// hide JS actions
.view-drupalorg-organizations .view-header .show-link,
.view-drupalorg-organizations .view-header .hide-link {
  display: none;
}

.node-organization .website img {
  display: block;
}

#content .node-organization dd {
  padding-left: 0;
}

// Users view
.view-users-in-organization, .view-display-id-drupal_sec_team_members_pane {
  .views-field-picture {
    @include clearfix;

    img {
      @include span-columns(2, 3);
      border-radius: 500px;
    }
  }

  .views-row {
    margin-bottom: (18em / 13);
    @include breakpoint($small $medium) {
      @include span-columns(6);
      @include nth-omega(2n);
      &:nth-child(2n+1) {
        clear: both;
      }
    }
    @include breakpoint($medium) {
      @include span-columns(3);
      @include nth-omega(4n);
      &:nth-child(4n+1) {
        clear: both;
      }
    }
  }
}

// Training view
.view-drupalorg-supporting-technologies,
.view-drupalorg-training {
  .views-row {
    @include span-columns(8 omega, 8);
    margin-bottom: 1.385em;
  }
}

#aside,
#sidebar-first {
  #block-block-40,
  #block-block-42,
  #block-block-46,
  #block-block-62,
  #block-menu-menu-hosting-types-menu {
    background-color: $white;
    display: block;
  }

  #block-block-60 {
    background-color: $white;
    border-bottom: 1px solid $new-gray;
  }
}

#aside #block-views-drupalorg-training-block-1 {
  background: $white;
}

#block-views-drupalorg-training-block-1 {
  a {
    padding: .25em .5em .25em 1em;

    &.active, &:hover, &:focus {
      background: $new-dk-gray;
      color: $white;
      text-decoration: none;
    }
  }
}
