// Organization page.

.node-type-organization {
  .button-link{
    font-size: 1em;
    left: 66%;
    position: relative;
    bottom: 1em;
  }

  // Badges
  .badges {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .badge {
      width: 46%;
    }
  }

  .top-badge {
    margin-top: 1em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
  }

  // Logo & link.
  .org-logo, .org-link {
    text-align: center;
  }

  // People on drupal.org
  .people-on-drupalorg {
    position: relative;
    margin: auto;
    text-align: center;
  }
}



.view-contribution-roles {
  @include clearfix;
  margin-bottom: 1em;

  h3 {
    clear: both;
    font-size: revert;
    font-weight: normal;
    line-height: 1.1;
    margin: 0;
    padding: .5em 0 0 0;

    span {
      @include force-wrap;
      float: left;
      max-width: 80px;
      overflow: visible;
      text-align: center;
    }
  }

  .views-row {
    margin: 0 0 .5em calc(80px + 1em);

    .views-field-field-project-initiative-details {
      @include force-wrap;
    }
  }

  img {
    border-radius: 50%;
  }
}

.view-id-organization_case_studies.view-display-id-block_1 {
  .view-content {
    column-gap: $gutter-width;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 1em;
    text-align: center;
  }

  .view-footer {
    margin-bottom: 1em;
  }
}

.view-id-organization_case_studies.view-display-id-mkt_teaser_block {
  .view-content {
    margin-top: 1em;
    column-gap: $gutter-width;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 1em;
    text-align: center;
  }

  .view-footer {
    margin-bottom: 0em;
  }
}

.views-field-field-project-initiative-details {
  @include smaller;
}

// Projects-supported header
#projects-supported {
 margin:0;
}

// Issue credit header
#org-page-issue-credit {
  clear:both;
  display:block;
  margin-top: 0em;
  position:relative;
}

#org-page-issue-credit-content, #org-page-sa-credit-content {
  margin-bottom: 0em;
  .view-content{
    margin-top:1em;
  }
}

// Owner tools.
.partner-tier-content {
  margin-bottom: 2em;

  strong {
    color: $new-md-blue;
    display: block;
    font-size: 1.25em;
  }

  @include breakpoint($medium) {
    align-items: center;
    column-gap: $gutter-width;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 4em;
  }
}
