// Project image.
@include breakpoint($small) {
  .node .field-name-field-project-images {
    @include span-columns(3 omega, 8);
    margin: 0 0 .692em 20px;
  }
}

.repository-logo {
  margin: -.25em .25em 0 0;
  max-height: 1.5em;
  max-width: 1.5em;
  vertical-align: middle;
  width: auto;
}

.node {
  .field-name-field-replaced-by .field-name-field-project {
    font-weight: bold;
    margin-top: 1rem;
  }

  .field-name-field-supporting-organizations {
    .field-collection-item-field-supporting-organizations {
      margin-bottom: .4615em; // 6px
    }
    .field-name-field-supporting-organization {
      float: left;
      padding-right: 0.5em;
    }
  }
}

// Project information
.project-info {
  #content & {
    list-style-type: none;
    padding-left: 2.8em;
  }

  li {
    clear: left;
    margin: 0 0 .692em 0;
  }

  .icon-left {
    margin-left: -2.8em;
  }

  small {
    color: $new-dk-gray;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#project-releases {
  clear: both;
}

// Project releases
.view-project-release-download-table {
  .install {
    align-items: baseline;
    column-gap: .5em;
    display: flex;

    .drupalorg-copy-container {
      flex-grow: 1;
      margin-right: 1rem;
    }
  }

  &.view-display-id-recommended>.view-content .release {
    background: lighten($new-yellow, 30%);

    .install {
      margin: -1.5em  -1em 1em -1em;
      padding: 0 0 1em 1em;
      background: lighten($new-yellow, 30%);

      &:last-child {
        margin-bottom: -1em;
      }
    }

    margin: 0 0 1em 0;
    padding: 1em;

    span.security-covered img {
      filter: opacity(.5) drop-shadow(0 0 0 $new-yellow) brightness(2);
    }

    &.recommended-Yes.security-covered {
      background: lighten($new-green, 30%);

      .install {
        background: lighten($new-green, 30%);
      }

      span.security-covered img {
        filter: opacity(.5) drop-shadow(0 0 0 $new-green) brightness(2);
      }
    }
  }

  .view-display-id-security .release {
    background: lighten($strong-red, 50%);
    margin: 0 0 1em 0;
    padding: 1em;

    img {
      filter: opacity(.5) drop-shadow(0 0 0 $strong-red) brightness(2);
    }
  }

  div.warning {
    margin: 0;
  }

  p {
    margin: .5em 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    font-size: 1.1em;
  }

  // Stable release shield
  span.security-covered img {
    height: (18em / 13);
    margin: -1em .25em -.3em .25em;
  }

  .release-info {
    background: rgba(255, 255, 255, .5);
    margin: 1em -1em -1em;
    padding: 1em;
  }

  // Dev releases without a tagged release section.
  .view-footer .release-info {
    background: $new-lt-gray;
    margin: 0 0 1em 0;
  }
}

.view-id-project_downloads {
  .views-row {
    clear: both;
    margin-bottom: 2em;
    overflow: auto;
  }

  .release-date {
    display: block;
    margin-top: 0.5em;
  }

  .views-field-field-release-short-description {
    width: 100%;
    @include breakpoint($medium) {
      float: right;
      width: 60%;
    }
  }

  &.view-display-id-recommended>.view-content,
  .view-display-id-prereleases {
    .views-field-field-release-version {
      float: left;
      display: block;
      width: 100%;
      @include breakpoint($medium) {
        width: 40%;
        padding-right: 2%;
      }
      text-align: center;
      h4 {
        font-size: 1.2em;
        margin: 0;
      }
      a {
        background: $new-blue;
        color: $white;
        margin-bottom: 1em;
        padding: 1.25em .5em;
        width: 100%;
        display: block;
        &:hover, &:focus {
          background: $new-dk-blue;
          text-decoration: none;
        }
      }
      .release-date {
        color: $new-lt-gray;
        font-size: 0.95em;
      }
    }
  }

  .view-display-id-prereleases {
    .views-field-field-release-version {
      a {
        background: $white;
        border: 2px solid $new-blue;
        color: $body-text;

        &:hover, &:focus {
          border: 2px solid $new-dk-blue;
          color: $white;

          .release-date {
            color: $new-lt-gray;
          }
        }
      }

      .release-date {
        color: $new-dk-gray;
      }
    }
  }

  .release-date {
    color: $new-dk-gray;
  }

  .panel-pane {
    .views-field-field-release-version {
      a {
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

// Star & subscribe.
#sidebar-first #block-drupalorg-project-follow {
  background: $white;
  .block-inner {
    padding: 0;
  }
}

#block-drupalorg-project-follow {
  @include smaller;

  .content > span {
    border: 1px solid $new-gray;
    border-radius: 4px;
    display: inline-block;
    padding: 0 0 0 .4em;

    a, span {
      display: inline-block;
    }

    a {
      color: $new-dk-gray;
      padding: 4px .5em 4px 2em;
    }

    .flag-link-toggle,
    .log-in-to-star {
      background: url(../images/icon-dk-gray-star-fill.svg) transparent left center / 1.5em no-repeat;

      &.unflag-action {
        background-image: url(../images/icon-green-star-fill.svg);
      }
    }

    .flag-throbber {
      width: 0;
    }

    .count {
      background: $new-lt-gray;
      border-radius: 0 3px 3px 0;
      padding: 4px .5em;
    }

    .mail {
      background: url(../images/icon-dk-gray-mail.svg) transparent -.4em center / 2.5em no-repeat;
    }
  }
}

// Maintainers block.
#block-drupalorg-project-maintainers {
  .maintainers {
    column-gap: $gutter-width;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: .5em;
    text-align: center;

    &.collapsed {
      // Show the first 6 maintainers.
      > * {
        display: none;
      }
      > :nth-child(1), > :nth-child(2), > :nth-child(3),
      > :nth-child(4), > :nth-child(5), > :nth-child(6) {
        display: initial;
      }
    }
  }

  .user-picture img {
    border-radius: 50%;
  }
}

// Issue cockpit block
.block-project-issue, #homebox .block-project_issue { // Homebox uses an underscore.
  // Search issues
  .form-item {
    display: inline;
    padding-right: 0.5em;
  }
  form a {
    display: block;
  }

  // Header styling
  h3 {
    font-size: 1em;
    margin: .5em 0 0 0;
  }

  // Sparklines
  .metric-label {
    display: inline-block;
    width: 6.8em;
    text-align: right;
  }
}

.metric-container {
  @include smaller;
}

// Used on project usage graphs.
.sparkarea {
  .label-line {
    stroke: $new-dk-gray;
  }

  .label-text {
    font-size: .8em;
    font-weight: bold;
    letter-spacing: -.025em;
  }

  .area {
    &.series-0 {
      fill: #4e79a7;
    }
    &.series-1 {
      fill: #f28e2c;
    }
    &.series-2 {
      fill: #e15759;
    }
    &.series-3 {
      fill: #76b7b2;
    }
    &.series-4 {
      fill: #59a14f;
    }
    &.series-5 {
      fill: #edc949;
    }
    &.series-6 {
      fill: #af7aa1;
    }
    &.series-7 {
      fill: #ff9da7;
    }
    &.series-8 {
      fill: #9c755f;
    }
    &.series-9 {
      fill: #bab0ab;
    }
  }
  .label-text {
    &.series-0 {
      fill: darken(#4e79a7, 10%);
    }
    &.series-1 {
      fill: darken(#f28e2c, 10%);
    }
    &.series-2 {
      fill: darken(#e15759, 10%);
    }
    &.series-3 {
      fill: darken(#76b7b2, 10%);
    }
    &.series-4 {
      fill: darken(#59a14f, 10%);
    }
    &.series-5 {
      fill: darken(#edc949, 10%);
    }
    &.series-6 {
      fill: darken(#af7aa1, 10%);
    }
    &.series-7 {
      fill: darken(#ff9da7, 10%);
    }
    &.series-8 {
      fill: darken(#9c755f, 10%);
    }
    &.series-9 {
      fill: darken(#bab0ab, 10%);
    }
  }
}

// Edit tags.
#versioncontrol-project-edit-tags {
  li {
    margin: 0 0 .5em 0;
  }

  a.delete {
    margin: 0 0 0 .5em;

    &,
    &:visited,
    &:active {
      @include smaller;
    }

    &::before {
      background: url(../images/icon-trash.svg) no-repeat;
      content: ' ';
      display: inline-block;
      filter: opacity(.6);
      height: 1.25em;
      width: 1.4em;
      vertical-align: text-bottom;
    }

    &:hover,
    &:focus {
      color: $new-orange;

      &::before {
        filter: opacity(.5) drop-shadow(0 0 0 $new-orange) brightness(2);
      }
    }
  }
}

#readme-import-ajax-form {
  padding: 1em;
  background: $new-lt-gray;

  label {
    font-weight: normal;
  }

  .messages {
    // Stop .container-inline from applying to messages.
    display: block;
  }
}
