.node-type-project-release {
  .composer-command {
    display: inline-block;
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .group-sidebar-top {
    @include breakpoint($small) {
      @include span-columns(4 omega);
      display: block;
      float: right;
    }

    // Try drupal button
    .try-drupal {
      text-align: center;
      margin-bottom: 1em;

      a {
        border: 2px solid $new-blue;
        display: block;
        padding: 1.5em;
        width: 100%;

        &:hover, &:focus {
          background-color: $new-lt-blue;
          text-decoration: none;
        }

        color: $new-blue;
      }
    }
  }

  .group-release-sidebar {
    @include breakpoint($small) {
      @include span-columns(4 omega);
    }

    .release-info {
      margin: 1em 0;
    }
  }

  .group-release-main {
    .views-field-field-release-file-hash,
    .views-field-field-release-file-sha1,
    .views-field-field-release-file-sha256 {
      @include smaller;
      display: none;
    }

    .show-views-field-field-release-file-hash .views-field-field-release-file-hash {
      display: block;
    }

    .show-views-field-field-release-file-sha1 .views-field-field-release-file-sha1 {
      display: block;
    }

    .show-views-field-field-release-file-sha256 .views-field-field-release-file-sha256 {
      display: block;
    }

    .release-hash-links {
      @include smaller;
      margin-bottom: 1em;
    }

    @include breakpoint($small) {
      @include span-columns(8);

      h2 {
        margin-bottom: auto;
      }

      .views-row {
        .download {
          clear: right;
        }

        .extension {
          display: inline;
        }

        .filename {
          display: none;
        }

        // File size.
        > .field-content {
          @include smaller;
        }
      }

      .hash {
        @include monospace-font;
      }

    }
  }
}

.node-project-release {
  .content {
    @include clearfix;
  }

  &.node-teaser {
    @include breakpoint($small) {
      position: relative;

      > h2,
      .submitted,
      #content & ul.links {
        @include pre(3);
      }

      .group-release-meta {
        @include span-columns(3);
        position: absolute;
        text-align: right;
        top: 2.7em;

        .field-name-taxonomy-vocabulary-7 .field-item {
          margin: .25em 0 .25em .5em;
        }
      }

      .field-name-body {
        @include span-columns(9 omega);
      }
    }

    @include breakpoint($medium) {
      > h2,
      .submitted,
      #content & ul.links {
        @include pre(2);
      }

      .group-release-meta {
        @include span-columns(2);
      }

      .field-name-body {
        @include span-columns(10 omega);
      }
    }
  }

  .field-name-taxonomy-vocabulary-7 {
    .field-item {
      display: inline-block;
      margin: .25em .5em .25em 0;
    }

    strong {
      border-radius: 4px;
      font-size: 0.92307em;
      font-weight: normal;
      padding: 2px 4px;
      white-space: nowrap;

      &.security-update {
        color: $white;
        background: $black;
      }

      &.insecure {
        color: $white;
        background: $asterisk-warning;
      }

      &.new-features {
        border: 1px solid $new-dk-green;
        color: $new-dk-green;
      }

      &.bug-fixes {
        border: 1px solid $new-dk-blue;
        color: $new-dk-blue;
      }
    }
  }
}
