////////////////////////
// Susy Grid Layout
////////////////////////
$total-columns          : 12;
$column-width           : 4em;
$gutter-width           : 1.333333334em;
$grid-padding           : $gutter-width;

$show-grid-backgrounds  : false;

////////////////////////
// Breakpoints
////////////////////////
$breakpoint-to-ems: true;

$small: 420px;
$small-medium: 580px;
$medium: 760px;
$extra-large: 1050px;

////////////////////////
// Secondary Colors
////////////////////////
$strong-red: #d32101;
$black: #000;
$white: #fff;

////////////////////////
// New Colors
////////////////////////
$new-lt-blue: #bce3fa;
$new-blue: #0678be;
$new-md-blue: #045292;
$new-dk-blue: #064771;
$new-green: #7cbc48;
$new-dk-green: #367d02;
$new-lt-gray: #f5f5f5;
$new-gray: #dcdcdc;
$new-dk-gray: #4e4e4e;
$new-lt-yellow: #fdfced;
$new-yellow: #fbf03b;
$new-orange: #ff7b3a;
$new-lt-orange: #fd935f;

////////////////////////
// Typography
////////////////////////
$body-text: #222;

////////////////////////
// Messages
////////////////////////
$messages-status: #d4efcc;
$messages-warning: #ffe69f;
$messages-error: #ebcccc;
$asterisk-warning: #e3901b;

////////////////////////
// Issue queue
////////////////////////
$issue-grey: #cccccc;
$issue-pale-grey: #f2f4fe;
$issue-dark-grey: #939393;
$issue-green: #a8ff98;
$issue-blue: #b5c4fe;
$issue-bright-blue: #4988fe;
$issue-orange: #ffcf73;
$issue-pink: #ffdccd #fc8596 #fdebed #fc2843 #fff6f6 #ffbca4;
$issue-light-green: #bcffb3;
$issue-lime: #edffec;
$issue-bright-green: #93ff88;
$issue-yellow: #feffec #ffb404 #f8fff1;
$issue-status-1: #f9f9f9;
$issue-status-2: #d7ffd8;
$issue-status-3: #eff1fe;
$issue-status-7: #fddddd;
$issue-status-8: #ffffdd;
$issue-status-13: #ffece8;
$issue-status-14: #f1ffe8;
$issue-fixed: #d7ffd8 #a8ff98;

////////////////////////
// Sprites
////////////////////////
$sprite-small-icons: url(../images/none.png);
$sprite-large-icons: url(../images/none.png);
$arrow-mask: url(../images/arrow-mask.png);
$icon-pointer: url(../images/pointer.png);

// Colors
//
// http://infrastructure.drupal.org/drupal.org-style-guide/colour.html
// moving to http://drupal.org/node/1051644
//
// -------------------------------------
// Primary colors
// -------------------------------------
// Dark Blue #0678BE rgb(6,120,190)
// Dark Blue 50% #83BCDE
// Dark Blue 40% #9CC9E5
// Dark Blue 30% #B4D7EB
// Dark Blue 20% #CDE4F2 rgb(205,228,242)
//
// Light Blue #53B0EB rgb(83,176,235)
//
// Lime Green #96BC44 rgb(150,188,68)
//
// -------------------------------------
// Secondary colors
// -------------------------------------
// Navy Blue #064771 rgb(6,71,113)
// Light Navy Blue #0D7DC1 rgb(13,125,193)
// Light Navy Blue 50% #9ECBE6 rgb(158,203,230)
//
// Pale Yellow #F6F6F2 rgb(246,246,242)
// Light Yellow #E6FCB6 rgb(230,252,182)
//
// Gray #9D9D93 rgb(157,157,147)
// Black #000 rgb(0,0,0)
//
// -------------------------------------
// Not officially listed, but found prototypes
// -------------------------------------
// Yellow/Green (border, th bg) #EAEAE1
// Yellow/Green (background) #F9FFEC
//
// Light Red (border) #EBCCCC
// Light Red (background) #F6E8E8
//
// -------------------------------------
// Typography
// -------------------------------------
// Gray body text #222
// Header h1 #000
// Gray headers h2-h4 #555
// Gray headers h5-6 #222
// Blue links #0678BE
//
// -------------------------------------
// Colors not specified in style guide
// -------------------------------------
// Gray #666
// Gray #nav-content border #E1E1DB
//
// -------------------------------------
// Help, status, and messages
// -------------------------------------
// Help:
// Blue: Dark Blue 20%
//
// Asterisk:
// Orange: rgb(227,144,27) NOT PART OF PALETTE

////////////////////////
// Typography
////////////////////////

$line-height: 1em;

////////////////////////
// Elections
////////////////////////

$candidate-picture-height: 90px;

////////////////////////
// User profiles
////////////////////////

$user-picture-width: 140px;
$comment-user-picture-width: 40px;
